.alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  text-align: center;
  padding: 15px 30px;
  transition: opacity 0.3s ease;
  opacity: 1;
  pointer-events: none;

  p{
    margin: 0;
  }

  &__close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &--info{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  &--hidden{
    opacity: 0;
    pointer-events: none;
  }

  &--visible{
    opacity: 1;
    pointer-events: auto;
  }
}
