.article-detail{
  &__title.title{
    color: #ddd2c2;
    text-align: center;
    margin-bottom: 30px;

    @include media('<desktop'){
      font-size: 36px;
      line-height: 1.2;
    }

    @include media('<tablet'){
      font-size: 32px;
    }
  }

  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    p{
      margin: 0;

      span{
        font-style: italic;
      }
    }
  }

  &__hero{
    margin-bottom: 30px;

    @include media('>=tablet'){
      margin-bottom: 50px;
    }

    img{
      border-radius: 30px;
    }
  }
}
