.auth{
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 30px;
  background: #fff;
  color: #2c2e35;

  @include media('>=desktop'){
    max-width: 70%;
  }

  .btn{
    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        background: #312b18;
        color: #ddd2c2;
      }
    }
  }

  &__flex{
    ol{
      @include media('<tablet'){
        padding-left: 20px;
      }
    }
  }

  &__full{
    width: 100%;
  }

  &__title{
    margin-bottom: 20px;
    font-size: 20px;
  }

  &__qr{
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include media('>=tablet'){
        flex-direction: row;
    }
  }

  &__img{
    flex-shrink: 0;
  }

  &__box{
    label{
      width: 100%;
      margin-bottom: 20px;
    }

    input{
      color: #2C2E35;
      border: 1px solid #b08e6c;
      border-radius: 100px;
      height: 42px;
      width: 100%;
      padding: 0 20px;
      transition: border-color 0.3s;

      &:hover{
        border-color: #b08e6c;
      }

      &:focus{
        outline: none;
      }
    }
  }

  &__buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    .btn{
      padding: 0 30px;
    }
  }
}
