.blankpage{
  &__title.title{
    color: #ddd2c2;
    margin-bottom: 30px;

    @include media('<desktop'){
      font-size: 36px;
      line-height: 1.2;
    }

    @include media('<tablet'){
      font-size: 32px;
    }
  }
}
