.btn {
  border: 0;
  padding: 0;
  outline: 0 !important;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;

  &--full{
    color: #140500;
    background: #8F8769;
    border-radius: 100px;
    padding: 0 50px;
    height: 42px;

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        background: #fff;
      }
    }
  }

  &--burger {
    position: relative;
    color: currentColor;
    display: flex;
    flex-direction: column;
    min-width: 0;
    align-items: flex-end;

    &:before {
      content: '';
      position: absolute;
      inset: -15px -10px;
    }

    span {
      width: 26px;
      height: 2px;
      display: block;
      background-color: currentColor;
      transition: opacity 0.3s, transform 0.3s, width 0.3s;
    }

    span:nth-child(2) {
      margin: 7px 0;

      .nav-is-open &{
        opacity: 0;
      }
    }

    span:nth-child(3){
      .nav-is-open &{
        transform: rotate(45deg) translate(-6px, -7px);
      }
    }

    span:nth-child(1){
      .nav-is-open &{
        transform: rotate(-45deg) translate(-6px, 6px);
      }
    }
  }
}
