.carousel{
  position: relative;
  padding: 30px 0 60px 0;

  @include media('>=tablet'){
    padding: 60px 0;
  }

  @include media('>=desktop'){
    padding: 200px 0 100px 0;
  }

  &__img{
    margin-bottom: 15px;

    img{
      transition: transform 0.3s;
    }
  }

  &__tag{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #140500;
    font-size: 14px;
    padding: 5px 20px;
    min-width: 30px;
    text-align: center;
    transition: transform 0.3s;
  }

  &__list{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;

    @include media('>=tablet'){
      grid-row-gap: 60px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('>=desktop'){
      grid-template-columns: repeat(4, 1fr);
    }

    .carousel__img{
      img{
        width: 100%;
      }
    }

    .carousel__textbox{
      font-size: 15px;

      @include media('>=tablet'){
        font-size: 18px;
      }
    }
  }

  &__item{
    text-decoration: none;
    position: relative;

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        .carousel__tag,
        .carousel__img img{
          transform: translateY(-5px);
        }
      }
    }
  }

  &__textbox{
    font-size: 15px;

    p{
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

      @include media('>=desktop'){
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
      }
    }
  }

  &__bg{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    max-height: 630px;
    object-position: top;
  }

  .splide{
    &__pagination{
      bottom: -40px;
      gap: 10px;

      &__page{
        margin: 0;
        background: #836A4E;
        width: 10px;
        height: 10px;
        opacity: 1;

        &:focus{
          outline: none;
        }

        &.is-active{
          transform: none;
          background: #595B61;
          opacity: 1;
        }
      }
    }

    &__track{
      padding-top: 5px;
    }
  }

  &--list{
    padding-bottom: 60px;

    @include media('<desktop'){
      padding: 120px 0 60px 0;
    }

    @include media('<tablet'){
      padding: 60px 0;
    }
  }
}
