.checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover{
    .checkbox__checkmark:before{
      opacity: 0.4;
    }
  }

  p{
    font-size: 16px !important;
    color: #DDD2C2;
    line-height: 1.2;
  }

  input{
    display: none;

    &:checked + .checkbox__checkmark:before{
      opacity: 1;
    }
  }

  &__checkmark{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100px;
    position: relative;
    flex-shrink: 0;

    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: #312B18;
      position: absolute;
      top: 7px;
      left: 7px;
      border-radius: 10px;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &--check{
    .checkbox__checkmark{
      border-radius: 5px;

      &:before{
        border-radius: 2px;
        width: 10px;
        height: 10px;
        top: 5px;
        left: 5px;
      }
    }
  }
}
