.contact{
  background: #2C2E35;
  padding: 60px 0;

  @include media('>=tablet'){
    padding: 230px 0 60px 0;
  }

  @include media('>=desktop'){
    padding: 300px 0 60px 0;
  }

  .in{
    display: grid;
    align-items: center;
    gap: 30px;

    @include media('>=tablet'){
      gap: 60px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=desktop'){
      grid-template-columns: 1fr 615px;
      align-items: flex-start;
    }
  }

  &__box{
    @include media('>=desktop'){
      padding: 80px 0 0 0;
    }

    h2{
      color: #836A4E;
      margin-bottom: 20px;

      @include media('>=tablet'){
        margin-bottom: 30px;
      }
    }
  }

  &__textbox{
    margin-bottom: 30px;

    @include media('>=tablet'){
      font-size: 18px;
    }

    @include media('>=tablet'){
      margin-bottom: 60px;
    }
  }
}
