.counter{
  display: flex;

  &__toolbox{
    display: flex;
    flex-direction: column;

    a{
      background: #836a4e;
      width: 27px;
      border-radius: 0 0 0 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      cursor: pointer;
      user-select: none;

      &:first-of-type{
        border-radius: 7px 0 0 0;
        border-bottom: 1px solid #ddd2c2;
      }
    }
  }

  &__value{
    display: flex;

    input{
      border: 0;
      width: 37px;
      background: #ddd2c2;
      font-size: 20px;
      font-weight: bold;
      padding: 0 8px 0 0;
      text-align: right;
      height: 54px;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus{
        outline: none;
      }
    }

    span{
      font-size: 20px;
      background: #ddd2c2;
      padding-right: 36px;
      border-radius: 0 7px 7px 0;
      display: flex;
      color: #000;
      align-items: center;
    }
  }
}
