.customer-card{
  margin-bottom: 30px;

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__medallion{
    display: flex;
    align-items: center;
    gap: 15px;

    img{
      border-radius: 100px;
    }

    span{
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__toolkit{
    a{
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  &__data{
    background: #b08e6c;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &-item{
      p{
        margin: 0;

        &:first-of-type{
          font-weight: bold;
          margin: 0 0 10px 0;
          color: #ddd2c2;
        }
      }
    }
  }
}
