.datagrid{
  overflow: auto;

  .col-pagination{
    margin: 20px 0;

    & > div{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a{
      min-width: 40px;
      height: 32px;
      background: #fff;
      color: #2c2e35;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      line-height: 1;
      transition: background 0.3s;
      padding: 0 20px;

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          background: #8f8769;
        }
      }
    }
  }

  .col-per-page{
    display: flex;
    align-items: center;
    gap: 10px;

    a{
      text-decoration: underline;
    }

    input[type="submit"]{
      background: #8f8769;
      border: 0;
      color: #fff;
      padding: 0 15px;
      height: 32px;
      border-radius: 100px;
    }

    select{
      color: #2C2E35;
      border: 1px solid transparent;
      border-radius: 15px;
      height: 32px;
      padding: 0 10px;
      transition: border-color 0.3s;

      &:hover{
        border-color: #312b18;
      }

      &:focus{
        outline: none;
      }
    }

    select{
      appearance: none;
      background: url('/images/arrow-bottom-dark.svg') no-repeat right 10px center #fff;
      background-size: 16px;
      cursor: pointer;
      padding-right: 40px;
    }
  }

  tfoot{
    background: #312b18;
  }

  .row-grid-bottom{
    padding: 20px;

    .col-items{
      small{
        font-size: 14px;
      }
    }
  }

  .table{
    font-size: 14px;

    tbody{
      td{
        &.col-action{
          display: flex;
          align-items: center;
          gap: 10px;
          .btn{
            width: 34px;
            height: 34px;
            font-size: 0;

            span{
              display: none;
            }

            &.btn-secondary{
              background: url('/images/edit.svg') no-repeat center center;
              background-size: 20px;
            }

            &.btn-danger{
              background: url('/images/smazat.svg') no-repeat center center;
              background-size: 16px;
            }
          }
        }
      }
    }

    thead{
      th{
        position: relative;

        input{
          @include media('<desktop'){
            max-width: 100px;
          }
        }

        select,
        textarea,
        input{
          color: #2C2E35;
          border: 1px solid transparent;
          border-radius: 15px;
          height: 32px;
          padding: 0 10px;
          transition: border-color 0.3s;

          &:hover{
            border-color: #312b18;
          }

          &:focus{
            outline: none;
          }
        }

        select{
          appearance: none;
          background: url('/images/arrow-bottom-dark.svg') no-repeat right 20px center #fff;
          background-size: 16px;
          cursor: pointer;
          padding-right: 40px;
        }

        .input-group-append,
        .datagrid-column-header-additions{
          position: absolute;
          right:  0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
