@mixin dropdownOpen {
  .dropdown__items {
    opacity: 1;
    pointer-events: auto;
  }
}

.dropdown {
  position: relative;

  &__items {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
  }

  // hover
  @media(pointer: fine){
    &:hover {
      @include dropdownOpen;
    }
  }

  // mobile
  @media(pointer: coarse){
    &.is-open {
      @include dropdownOpen;
    }
  }
}
