.flash{
  border: 1px solid transparent;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  text-align: center;

  p{
    margin: 0;

    @include media('>=tablet'){
      font-size: 16px !important;
    }
  }

  &--success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

  &--warning{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &--info{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
}
