.footer{
  padding: 30px 0;

  @include media('>=tablet'){
    padding: 50px 0;
  }

  .in{
    @include media('<tablet'){
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column-reverse;

    @include media('>=tablet'){
      flex-direction: column;
      margin-bottom: 30px;
    }

    @include media('>=desktop'){
      margin-bottom: 50px;
      gap: 30px;
    }
  }

  &__partners{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    @include media('>=tablet'){
      gap: 20px;
      flex-direction: row;
    }

    p{
      margin: 0;
      color: #ddd2c2;
    }

    &-list{
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 20px;
      flex-wrap: wrap;

      @include media('>=tablet'){
        display: flex;
        margin-bottom: 0;
        align-items: center;
      }
    }
  }

  &__copy{
    text-align: center;
    color: #DDD2C2;
    font-size: 12px;
    position: relative;

    @include media('>=tablet'){
      font-size: 14px;
    }

    a{
      @include media('>=tablet'){
        font-size: 18px;
      }
    }

    @include media('<tablet'){
      &:before{
        content: "";
        height: 1px;
        width: 100%;
        background: #fff;
        opacity: 0.5;
        position: absolute;
        top: -25px;
        left: 0;
      }
    }
  }

  &__cols{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;

    @include media('>=tablet'){
      margin-bottom: 50px;
      display: flex;
      margin-bottom: 0;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include media('>=desktop'){
      flex-wrap: nowrap;
    }
  }

  &__col{

    &:first-of-type{
      @include media('<desktop'){
        width: 100%;
        text-align: center;
      }

      @include media('<tablet'){
        grid-column: 1 / span 2;
      }
    }

    ul{
      margin: 0;
      padding: 0;

      li{
        list-style-type: none;

        a{
          text-decoration: none;
          color: #DDD2C2;
          transition: color 0.3s;

          @media(pointer: fine){
            &:active,
            &:focus,
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
