.form{
  background: #B08E6C;
  border-radius: 15px;
  padding: 30px;
  color: #312B18;

  label{
    .help-block.text-danger{
      font-size: 15px;
      position: absolute;
      left: 0;
      bottom: -10px;
      color: darkred;
    }
  }

  a{
    color: #836A4E;
  }

  h2{
    font-size: 26px;
    margin: 0;
  }

  &__button{
    display: flex;
    gap: 15px;

    .btn{
      flex-shrink: 0;
    }
  }

  &__double{
    margin-top: 30px;

    @include media('>=tablet'){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .form__item{
      @include media('>=tablet'){
        margin: 0;
      }
    }
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item{
    margin-bottom: 15px;
    position: relative;

    .select2.select2-container{
      width: 100% !important;
    }

    .help-block.text-danger{
      font-size: 15px;
      position: absolute;
      left: 0;
      bottom: -10px;
      color: darkred;
    }

    &.is-visible{
      .showPassWrapper{
        background: url('/images/visible.svg') no-repeat center center;
        background-size: 20px;
      }
    }

    label{
      margin: 0 0 10px 0;
      display: block;
    }

    select,
    textarea,
    input{
      color: #2C2E35;
      border: 1px solid transparent;
      border-radius: 100px;
      height: 42px;
      width: 100%;
      padding: 0 20px;
      transition: border-color 0.3s;

      &.has-error{
        margin-bottom: 15px;
      }

      &:hover{
        border-color: #312b18;
      }

      &:focus{
        outline: none;
      }
    }

    select{
      appearance: none;
      background: url('/images/arrow-bottom-dark.svg') no-repeat right 20px center #fff;
      background-size: 16px;
      cursor: pointer;
    }

    textarea{
      height: 120px;
      padding: 20px;
      border-radius: 15px;
    }

    .showPassWrapper{
      width: 42px;
      height: 42px;
      border: 0;
      padding: 0;
      background: url('/images/hidden.svg') no-repeat center center;
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      background-size: 20px;
      cursor: pointer;

      .showPass{
        display: none;
      }
    }

    input[type="email"]{
      & + .help-block.text-danger{
        @include media('<tablet'){
          position: relative;
          bottom: 10px;
        }
      }
    }
  }

  &__bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

    @include media('>=desktop'){
      align-items: center;
      gap: 20px;
      flex-direction: row;
    }

    p{
      margin: 0;
      font-size: 14px;
    }
  }

  &__btn.btn{
    background: #836A4E;
    flex-shrink: 0;

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        background: #fff;
      }
    }
  }

  &__cols{
    display: grid;
    gap: 15px;

    @include media('>=tablet'){
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--inbox{
    background: transparent;
    border-radius: 0;
    padding: 0;

    h2{
      color: #DDD2C2;
    }

    .form{
      &__top{
        justify-content: center;
      }

      &__item{
        label{
          color: #DDD2C2;
        }

        textarea,
        input{
          color: #312B18;

          &::placeholder{
            color: #312B18;
          }
        }
      }

      &__bottom{
        flex-direction: column;
        align-items: center;
      }
    }

    .btn{
      background: #312B18;
      color: #DDD2C2;

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          color: #312B18;
        }
      }
    }
  }

  &--register{
    .form{
      &__bottom{
        flex-direction: column;
        align-items: center;
      }

      &__item{
        &--select{
          span{
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }

    .form__double{
      margin: 0 0 15px 0;
    }

    .checkbox{
      margin-bottom: 15px;
    }
  }
}

form{
  label{
    .help-block.text-danger{
      font-size: 15px;
      position: absolute;
      left: 0;
      bottom: -10px;
      color: darkred;
    }

    input{
      &.has-error{
        margin-bottom: 15px;
      }
    }
  }
}
