.header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  position: sticky;

  @include media('>=tablet'){
    position: relative;
  }

  &__logout{
    display: flex;
    align-items: center;
    gap: 5px;
    transform: translateX(5px);

    @include media('>=tablet'){
      gap: 10px;
      transform: none;
    }
  }

  &__helper{
    display: flex;
    align-items: center;
    gap: 30px;

    .header__cart{
      opacity: 0;
      transition: opacity 0.3s;
      transform: translate(0, 14px);
      position: absolute;
      right: 0;

      @include media('>=desktop'){
        transform: translate(0, 20px);
      }

      @include media('<tablet'){
        display: none;
      }

      .is-scrolled &{
        opacity: 1;
      }
    }
  }

  &__cart{
    text-decoration: none;
    position: relative;

    img{
      width: 20px;
      height: 20px;

      @include media('>=tablet'){
        width: 25px;
        height: 25px;
      }
    }

    span{
      background: #8f8769;
      border-radius: 10px;
      color: #fff;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 10px;
      width: 14px;
      height: 14px;
      top: -6px;
      right: -6px;

      @include media('>=tablet'){
        right: -10px;
        font-size: 12px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &__logo{
    img{
      transition: max-width 0.3s;

      @include media('<desktop-l'){
        max-width: 280px;
      }

      @include media('<desktop'){
        max-width: 200px;
      }

      .is-scrolled &{
        @include media('>=tablet'){
          max-width: 170px;
        }

        @include media('>=desktop'){
          max-width: 210px;
        }
      }
    }
  }

  &__top{
    background: #312B18;
    padding: 15px 0;

    @include media('<tablet'){
      padding: 0;
      display: flex;
      height: 60px;
    }

    .in{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__box{
    display: flex;
    align-items: center;
    gap: 15px;

    @include media('>=tablet'){
      gap: 30px;
    }
  }

  &__login{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__lang{
    user-select: none;

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        .header__lang-opener{
          img{
            &:last-of-type{
              transform: scaleY(-1);
            }
          }
        }
      }
    }

    &-opener{
      img{
        transition: transform 0.3s;
      }
    }

    @include media('<tablet'){
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      justify-content: center;
      padding: 15px 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;

      .nav-is-open &{
        opacity: 1;
        pointer-events: auto;
      }

      .header__lang-opener{
        img{
          width: 26px;
          height: 26px;
          object-fit: contain;
        }
      }

      .header__lang-opener img:last-of-type{
        display: none;
      }

      .dropdown__items{
        position: relative;
        width: auto;
        top: 0;
        opacity: 1;
        pointer-events: auto;
        display: flex;
        align-items: center;
        gap: 15px;

        img{
          width: 26px;
          height: 26px;
          object-fit: contain;
        }
      }
    }

  }

  &__bottom{
    @include media('>=tablet'){
      padding: 15px 0;
      position: absolute;
      top: 66px;
      width: 100%;
      left: 0;
      transition: padding 0.3s, background 0.3s;
    }

    .is-scrolled &{
      @include media('>=tablet'){
        position: fixed;
        top: 0;
        padding: 10px 0;
        background: #312b18;
      }
    }

    .in{
      @include media('>=tablet'){
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }
  }
}
