.header-nav{
  transition: transform 0.3s, opacity 0.3s;

  @include media('<tablet'){
    position: fixed;
    background: #312b18;
    top: 60px;
    left: 0;
    height: calc(100dvh - 60px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100dvw;
    padding: 70px 15px 0 15px;
    opacity: 0;
    pointer-events: none;

    .nav-is-open &{
      opacity: 1;
      pointer-events: auto;
    }
  }

  .is-scrolled &{
    @include media('>=tablet'){
      transform: translateY(15px) translateX(-50px);
    }

    @include media('>=desktop'){
      transform: translateY(22px) translateX(-50px);
    }
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include media('>=tablet'){
      align-items: center;
      flex-direction: row;
    }

    @include media('>=desktop'){
      gap: 30px;
    }

    @include media('<tablet'){
      width: 100%;
    }

    li{
      list-style-type: none;
      position: relative;

      @include media('<tablet'){
        &:before{
          content: "";
          background: #fff;
          width: 100%;
          height: 1px;
          bottom: -10px;
          left: 0;
          position: absolute;
        }
      }

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          ul{
            opacity: 1;
            pointer-events: auto;
          }

          & > a{
            &:after{
              transform: scaleY(-1);
            }

            &:before{
              width: 100%;
            }
          }
        }
      }

      &.has-submenu{
        @include media('<tablet'){
          display: flex;
          gap: 16px;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        a{
          @include media('>=tablet'){
            padding-right: 20px;
          }

          &:after{
            @include media('>=tablet'){
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 6px 0 6px;
              border-color: #ffffff transparent transparent transparent;
              position: absolute;
              right: 0;
              transition: transform 0.3s;
              top: 10px;
            }

            @include media('>=desktop'){
              top: 13px;
            }
          }
        }

        &.is-open{
          ul{
            display: flex;
          }

          .header-nav__opener{
            transform: scaleY(-1);
          }
        }
      }

      a{
        text-decoration: none;
        position: relative;
        font-size: 22px;

        @include media('>=tablet'){
          font-size: 18px;
        }

        @include media('>=desktop'){
          font-size: 22px;
        }

        &:before{
          content: "";
          width: 0;
          height: 2px;
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          background: #fff;
          transition: width 0.3s;
        }
      }

      ul{
        flex-direction: column;
        gap: 10px;
        transition: opacity 0.3s;
        width: 100%;
        display: none;
        padding: 0 0 10px 15px;

        @include media('>=tablet'){
          align-items: flex-start;
          opacity: 0;
          pointer-events: none;
          display: flex;
          min-width: 200px;
          position: absolute;
          background: #312b18;
          top: 26px;
          padding: 16px;
          left: -16px;
          width: auto;
        }

        @include media('>=desktop'){
          top: 32px;
        }

        li{
          &:before{
            display: none;
          }

          a{
            font-size: 18px;
            padding-right: 0 !important;

            &:after{
              display: none;
            }
          }
        }
      }
    }
  }

  &__opener{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
  }
}
