.hero{
  position: relative;
  padding: 120px 0 30px 0;

  @include media('>=tablet'){
    padding: 240px 0 60px 0;
  }

  &__bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    top: 0;
    max-height: 125px;
    object-position: top;

    @include media('>=tablet'){
      max-height: 500px;
      top: 80px;
    }

    @include media('>=desktop'){
      top: 100px;
    }
  }

  &__graph{
    #myChart{
      width: 100% !important;
      height: 100% !important;
    }
  }

  .in{
    display: grid;
    gap: 30px;
    align-items: flex-end;

    @include media('>=tablet'){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__box{
    max-width: 400px;
    color: #DDD2C2;
  }

  &__textbox{
    margin-bottom: 15px;
  }

  &__title.title{
    margin-bottom: 15px;
  }

  &__inner{
    background: #836A4E;
    padding: 60px 0;

    @include media('>=tablet'){
      padding: 60px 0 0 0;
    }
  }

  &__slide{
    .splide{
      &__pagination{
        bottom: -25px;
        gap: 10px;

        &__page{
          margin: 0;
          background: #836A4E;
          width: 10px;
          height: 10px;
          opacity: 1;

          &:focus{
            outline: none;
          }

          &.is-active{
            transform: none;
            background: #fff;
            opacity: 1;
          }
        }
      }

      &__track{
        height: 100%;

        img{
          height: 100%;
        }
      }
    }
  }

  &__cols{
    display: grid;
    gap: 30px;

    @include media('>=tablet'){
      margin-bottom: -100px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=desktop'){
      gap: 60px;
    }
  }

  &__col{
    background: #312B18;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;

    @include media('>=tablet'){
      border-radius: 30px;
      padding: 30px;
      transform: translateY(120px);
      margin-top: -120px;
    }

    @include media('>=desktop'){
      padding: 60px;
    }

    .btn{
      color: #DDD2C2;
      background: #836A4E;

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          background:#8F8769;
        }
      }
    }

    h2{
      color: #DDD2C2;
      margin-bottom: 20px;
    }

    &-text{
      color: #DDD2C2;
      margin-bottom: 30px;

      @include media('>=tablet'){
        font-size: 18px;
      }
    }
  }

  &--contact{
    padding: 100px 0 0 0;

    @include media('>=tablet'){
      padding: 300px 0 60px 0;
    }

    @include media('>=desktop'){
      padding: 400px 0 60px 0;
    }

    .in{
      display: block;
    }

    .hero__title.title{
      text-align: center;
      color: #DDD2C2;
      margin-bottom: 20px;
    }

    .hero__textbox{
      margin: 0 auto 30px auto;
      text-align: center;
      max-width: 400px;
      color: #DDD2C2;

      @include media('>=tablet'){
        font-size: 18px;
      }
    }
  }

  &--hp{
    @include media('<desktop-l'){
      padding-top: 180px;
    }

    @include media('<tablet'){
      padding-top: 50px;
    }

    .in{
      grid-template-columns: 1fr;
    }

    .hero__box{
      max-width: 100%;
    }

    .hero__right{
      display: grid;
      gap: 30px;

      @include media('>=tablet'){
        grid-template-columns: repeat(2, 1fr);
      }

      .hero__slide{
        video{
          width: 100%;
          height: 100%;
        }
      }
    }

    .hero__bg{
      top: 380px;
    }
  }

  &--sell{
    .hero__box{
      gap: 30px;
      display: grid;

      @include media('>=tablet'){
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .product__info{
      background: #8f8769;
    }
  }
}
