.in {
  max-width: var(--in-max-width);
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);

  &--long{
    max-width: 1440px;
  }

  &--user{
    max-width: 1050px;
  }

  &--short{
    max-width: 800px;
  }

  &--tiny{
    max-width: 600px;
  }
}
