.newsletter{
  background: #312B18;
  padding: 30px 0;

  &__textbox{
    color: #DDD2C2;
    max-width: 460px;
    text-align: center;

    @include media('>=desktop'){
      text-align: left;
    }
  }

  .in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    @include media('>=desktop'){
      flex-direction: row;
      gap: 0;
    }
  }

  form{
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include media('>=tablet'){
      flex-direction: row;
    }

    label{
      margin: 0;
    }

    input{
      height: 42px;
      background: #B08E6C;
      color: #2C2E35;
      border-radius: 100px;
      padding: 0 15px;
      border: 1px solid transparent;
      min-width: 300px;
      transition: border-color 0.3s;

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          border-color: #fff;
        }
      }

      &:focus{
        outline: none;
      }

      &::placeholder{
        color: #2C2E35;
      }
    }
  }
}
