.order{
  &__info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 30px 0;

    @include media('>=desktop'){
      margin: 10px 0 60px 0;
    }

    span{
      line-height: 1;
    }
  }

  &__title.title{
    span{
      color: #b08e6c;
    }
  }

  &__wrapper{
    display: grid;
    gap: 30px;
    margin-bottom: 30px;

    @include media('>=desktop'){
      grid-template-columns: 1fr 320px;
    }
  }

  .products{
    margin-bottom: 30px;
  }

  &__subtitle{
    margin-bottom: 20px;
  }

  &__btn.btn{
    width: 100%;
    margin: 30px 0;
  }

  &__text{
    text-align: center;
    color: #ddd2c2;
    padding: 0 30px;
  }

  &--detail{
    .payment{
      margin-bottom: 30px;
    }

    .customer-card__data{
      border-radius: 0;
      padding: 0;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    .order__wrapper{
      grid-template-columns: 1fr;
    }
  }
}
