.order-sidebar{
  margin-top: 30px;

  @include media('>=desktop'){
    margin-top: 0;
  }
    &__title{
      margin-bottom: 20px;
      height: 50px;
      display: flex;
      align-items: center;
    }

    &__box{
      background: #b08e6c;
      padding: 30px;
      border-radius: 15px;
    }

    &__list{
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      p{
        margin: 0;

        &:last-of-type{
          flex-shrink: 0;
        }
      }
    }

    &__summ{
      display: flex;
      align-items: center;
      justify-content: space-between;

      p{
        font-weight: bold;
        margin: 0;
        font-size: 20px;
        color: #ddd2c2;
      }
    }

    &__wrapper{
      position: sticky;
      top: 100px;
    }
}
