.pagination{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 60px;

  &__btn,
  ul li a,
  ul li span{
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1;
    transition: background 0.3s;

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        background: #8f8769;
      }
    }
  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    li{
      list-style-type: none;

      span{
        background: #8f8769;
        font-weight: bold;
      }
    }
  }

  &__btn{
    &--prev{
      img{
        transform: rotate(90deg);
      }
    }

    &--next{
      img{
        transform: rotate(-90deg);
      }
    }
  }
}
