.payment{
  background: #b08e6c;
  border-radius: 15px;
  padding: 15px;

  @include media('<tablet'){
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .checkbox{
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    align-items: flex-start;

    @include media('>=tablet'){
      padding: 15px;
    }

    &:last-of-type{
      border: 0;
    }

    p{
      font-size: 20px !important;
      color: #fff;

      span{
        display: block;
        color: #ddd2c2;
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }

  &__wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include media('>=tablet'){
      flex-direction: row;
    }
  }

  &__info{
    font-size: 20px;
  }

  &__card{
    padding: 30px;
  }

  &__qr{
    flex-shrink: 0;

    @include media('>=tablet'){
      padding: 30px 20px 0px 40px;
    }
  }

  .form{
    width: 100%;
    padding: 0;

    .form__double{
      margin: 0 0 15px 0;
    }
  }

  &__lock{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0 0;
    background: #8f8769;
    border-radius: 10px;
    width: fit-content;

    span{
      line-height: 1;
    }
  }

  &__logos{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__window{
    border-radius: 15px;
    border: 2px solid #fff;
    background: #b08e6c;

    @include media('<tablet'){
      margin: 10px 0;
    }
  }
}
