.product-card{
  &__item{
    display: flex;
    justify-content: space-between;
    background: #b08e6c;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    position: relative;
    flex-direction: column;

    @include media('>=tablet'){
      align-items: flex-end;
      flex-direction: row;
    }

    .counter{
      @include media('<tablet'){
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
    }
  }

  &__number{
    font-size: 18px;

    span{
      font-weight: bold;
    }
  }

  &__wrapper{
    display: flex;
    gap: 10px;

    @include media('>=tablet'){
      gap: 30px;
    }
  }

  &__img{
    flex-shrink: 0;
    max-width: 100px;
    max-height: 100px;

    @include media('>=tablet'){
      max-width: 150px;
      max-height: 150px;
    }
  }

  &__text{
    h3{
      margin-bottom: 5px;
      font-size: 18px;
      color: #ddd2c2;

      @include media('>=tablet'){
        font-size: 22px;
      }
    }

    p{
      font-size: 15px;
      line-height: 1.2;

      @include media('<tablet'){
        display: none;
      }
    }

    &--mobile{
      @include media('<tablet'){
        padding-bottom: 70px;
      }

      p{
        display: none;

        @include media('<tablet'){
          display: block;
        }
      }
    }
  }

  &__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__price{
    font-size: 22px;
    font-weight: bold;
    flex-shrink: 0;

    @include media('<tablet'){
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }

  &__remove{
    background: #ddd2c2;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 10px;

    @include media('>=tablet'){
      border-radius: 10px;
      right: 20px;
      top: 20px;
    }
  }
}
