.product{
  &__wrapper{
    display: grid;
    gap: 30px;
    margin-bottom: 30px;

    @include media('>=tablet'){
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=desktop'){
      margin-bottom: 60px;
      gap: 60px;
    }

    &--center{
      align-items: center;
    }
  }

  &__graph{
    #myChart{
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__top{
    display: flex;
    align-items: center;
    gap: 20px;

    @include media('>=tablet'){
      gap: 30px;
    }
  }

  &__warning{
    color: #c13744;

    &--center{
      text-align: center;
    }
  }

  &__graph{
    border: 1px solid #fff;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__progress{
    border: 1px solid #fff;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;

    span{
      position: absolute;
      z-index: 2;
      height: 100%;
      left: 0;
      background: #8f8769;
      border-radius: 5px;
    }

    p{
      z-index: 3;
      position: relative;
    }
  }

  &__content{
    h2{
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 10px;
      margin-bottom: 10px;

      @include media('>=desktop'){
        margin-bottom: 30px;
        padding-bottom: 20px;
      }
    }
  }

  &__buttons{
    display: grid;
    gap: 10px;

    @include media('>=desktop'){
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    .btn{
      width: 100%;

      &.disabled{
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  &__title{
    margin-bottom: 20px;

    &--right{
      text-align: right;
    }
  }

  &__info{
    background: #b08e6c;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      p{
        margin: 0;
        line-height: 1;
        padding-bottom: 5px;

        &:first-of-type{
          flex-shrink: 0;
          transform: translateY(8px);
          color: #ddd2c2;
        }

        &:last-of-type{
          text-align: right;
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          font-weight: bold;
        }
      }
    }
  }

  &__stars{
    display: flex;
    align-items: center;
    gap: 10px;

    img{
      opacity: 0.25;
    }

    &--1{
      img{
        &:nth-of-type(1){
          opacity: 1;
        }
      }
    }

    &--2{
      img{
        &:nth-of-type(1),
        &:nth-of-type(2){
          opacity: 1;
        }
      }
    }

    &--3{
      img{
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3){
          opacity: 1;
        }
      }
    }
  }

  &__inner{
    margin-bottom: 60px;
    background: #b08e6c;
    padding: 30px;
    border-radius: 15px;
    max-width: 1020px;
  }

  &__row{
    display: grid;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    gap: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    @include media('>=tablet'){
      padding-bottom: 10px;
      margin-bottom: 10px;
      gap: 30px;
      grid-template-columns: repeat(4, 1fr);
    }

    &:first-of-type,
    &:last-of-type{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .checkbox{
      margin: 0;
    }

    .counter{
      justify-self: flex-end;
    }
  }

  &__text{
    text-align: right;
  }

  &--members-offer{
    .product__wrapper{
      @include media('>=tablet'){
        grid-template-columns: 1fr;
        display: flex;
        justify-content: space-between;
      }

      @include media('<tablet'){
        gap: 10px;
      }
    }
  }
}
