.search{
  position: relative;
  transition: opacity 0.3s;

  @include media('<tablet'){
    position: fixed;
    top: 70px;
    z-index: 2;
    width: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;

    .nav-is-open &{
      opacity: 1;
      pointer-events: auto;
    }
  }

  label{
    margin: 0;
    width: 100%;
  }

  input{
    border: 1px solid transparent;
    background: #8F8769;
    height: 36px;
    font-weight: bold;
    color: #fff;
    transition: border-color 0.3s;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0 40px 0 15px;

    @include media('>=tablet'){
      border-radius: 100px;
      max-width: 200px;
    }

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        border-color: #fff;
      }
    }

    &::placeholder{
      color: #fff;
    }

    &:focus{
      outline: none;
    }
  }

  button{
    border: 0;
    padding: 0;
    margin: 0;
    height: 36px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    border-radius: 0 100px 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus{
      outline: none;
    }
  }
}
