.select2{
  .select2-selection{
    color: #2C2E35;
    border: 1px solid transparent;
    border-radius: 20px;
    height: 42px;
    width: 100%;
    transition: border-color 0.3s;

    appearance: none;
    background: url('/images/arrow-bottom-dark.svg') no-repeat right 20px center #fff;
    background-size: 16px;
    cursor: pointer;

    &:focus{
      outline: none;
    }

    &__rendered{
      padding: 0 20px !important;
      width: 100%;
      height: 100%;
      display: flex !important;
      align-items: center;
      border-radius: 20px;
    }

    &__arrow{
      display: none;
    }
  }

  &.select2-container{
    min-width: 200px;
    z-index: 9999;
    border-radius: 20px;
    width: 100% !important;

    @include media('<tablet'){
      z-index: 20;
    }
  }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
  border-radius: 20px 20px 0 0 !important;
}

.select2-dropdown{
  background: #312b18;

  input{
    background: #8f8769;
    color: #fff;

    &:focus{
      outline: none;
    }
  }
}

.select2-results__option--highlighted{
  color: #312b18 !important;
  background: #fff !important;
}

.select2-container--default{
  background: #fff;
}

.select2-results__option--selected{
  background: #8f8769 !important;
  color: #fff !important;
}
