.sell{
  &__strip {
  display: grid;
  gap: 10px;

  @include media('>=tablet'){
    grid-template-columns: 28% 20% 20% 28%;
  }

  &--disabled{
    opacity: 0.5;
    pointer-events: none;

    .btn{
      pointer-events: none;
      cursor: default;
      text-decoration: none;
    }
  }
}


  &__list{
    background: #b08e6c;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .checkbox{
      margin-bottom: 20px;
    }
  }

  &__item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    @include media('>=tablet'){
      margin-bottom: 30px;
      border-bottom: 0;
    }

    &:last-of-type{
      padding: 0;
      margin: 0;
      border-bottom: 0;
    }

    .btn{
      background: #fff;
      font-size: 16px;
      height: 50px;

      @include media('>=desktop'){
        height: 60px;
        font-size: 18px;
      }

      &.is-active{
        background: #312b18;
        color: #ddd2c2;

        @media(pointer: fine){
          &:active,
          &:focus,
          &:hover {
            background: #fff;
            color: #140500;
          }
        }
      }

      @media(pointer: fine){
        &:active,
        &:focus,
        &:hover {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  &__info{
    display: flex;
    align-items: center;
    gap: 20px;

    @include media('>=tablet'){
      border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    }

    p{
      line-height: 1;
      font-weight: bold;
      font-size: 16px;

      @include media('>=desktop'){
        font-size: 20px;
      }
    }
  }

  &__input{
    label{
      margin: 0;

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      color: #fff;
      position: relative;

      @include media('>=tablet'){
        text-align: center;
      }

      input{
        color: #fff;

        &:focus{
          outline: none;
        }
      }

      span{
        position: absolute;
        left: 0;
        padding-top: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .2);
        width: 35px;
        bottom: 2px;
        height: 20px;

        @include media('>=tablet'){
          height: 26px;
          bottom: 4px;
        }

        @include media('>=desktop'){
          height: 32px;
          width: 50px;
        }

        @include media('>=desktop-l'){
          width: 60px;
        }

        @include media('<desktop'){
          font-size: 12px;
        }
      }
    }

    &--price{
      input{
        padding-left: 45px;
      }
    }
  }

  &__number{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);

    @include media('>=tablet'){
      text-align: center;
      border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    }

    @include media('>=desktop'){
      font-size: 20px;
    }
  }
}
