.showmore{
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &__header{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 30px 0 0 0;
    padding: 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    img{
      flex-shrink: 0;
      transition: transform 0.3s;

      .showmore-is-open &{
        transform: scaleY(-1);
      }
    }

    p{
      margin: 0;
    }
  }

  &__content{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;

    .showmore-is-open &{
      grid-template-rows: 1fr;
    }
  }

  &__helper{
    overflow: hidden;

    p{
      &:last-of-type{
        padding-bottom: 20px;
      }
    }
  }
}
