.social{
  display: flex;
  align-items: center;
  gap: 10px;

  @include media('>=desktop'){
    gap: 20px;
  }

  a{
    font-size: 0;

    img{
      transition: transform 0.3s;
    }

    @media(pointer: fine){
      &:active,
      &:focus,
      &:hover {
        img{
          transform: translateY(-3px);
        }
      }
    }
  }
}
