.summ{
  &__top{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    flex-direction: column;

    @include media('>=tablet'){
      flex-direction: row;
    }

    label{
      margin: 0;
      font-size: 18px;
    }

    input{
      height: 36px;
      border-radius: 100px;
      padding: 20px;
      border: 0;
    }
  }

  &__buttons{
    margin: 0 0 20px 0;

    @include media('>=tablet'){
      position: absolute;
      right: 30px;
      top: 20px;
      margin: 0;
    }
  }

  &__item{
    margin-bottom: 30px;

    &:last-of-type{
      margin-bottom: 0;
    }

    h3{
      margin-bottom: 10px;
    }
  }
}
