.table{
  width: 100%;
  border: 1px solid #312b18;

  thead{
    th{
      background: #312b18;
      color: #ddd2c2;
      padding: 10px;

      @include media('<desktop'){
        min-width: 100px;
      }
    }
  }

  tbody{
    tr{
      &:nth-of-type(even){
        td{
          background: #b08e6c;
        }
      }

      td{
        color: #fff;
        background: #8f8769;
        padding: 10px;
      }
    }
  }
}
