.thankspage{
  &__wrapper{
    background: #b08e6c;
    padding: 30px;
    border-radius: 15px;
  }

  &__icon{
    flex-shrink: 0;
    max-width: 50px;

    @include media('>=tablet'){
      max-width: 70px;
    }
  }

  &__box{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__btn.btn{
    background: #312b18;
    color: #ddd2c2;
  }

  &__right{
    display: flex;
    justify-content: flex-end;
  }

  &__text{
    margin-bottom: 30px;
  }

  &--negative{
    .thankspage__icon{
      position: relative;

      svg{
        position: relative;
        z-index: 2;
        width: 70px;
        height: 70px;
      }

      &:before{
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }
}
