.user{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;

  @include media('>=tablet'){
    flex-direction: row;
  }

  &__sidebar{
    flex-shrink: 0;
    background: #b08e6c;
    border-radius: 15px;
    padding: 15px 0 0 0;
    width: 100%;

    @include media('>=tablet'){
      width: 200px;
    }

    ul{
      margin: 0;
      padding: 0;
      background: #312b18;
      border-top: 1px solid #fff;

      li{
        list-style-type: none;
        overflow: hidden;

        &.current{
          & > a{
            &:before,
            &:after{
              opacity: 1;
              right: 0;
            }
          }

          & > ul{
            display: block;
          }
        }

        a{
          text-decoration: none;
          padding: 15px;
          border-bottom: 1px solid #fff;
          display: block;
          position: relative;

          @media(pointer: fine){
            &:hover {
              text-decoration: underline;
            }
          }

          &:before,
          &:after{
            content: "";
            width: 0px;
             height: 0px;
             border-style: solid;
             border-width: 0 30px 30px 0;
             border-color: transparent #B08E6C transparent transparent;
             position: absolute;
             top: 0;
             right: -30px;
             opacity: 0;
             transition: opacity 0.3s, right 0.3s;
          }

          &:after{
            transform: scaleY(-1);
            top: initial;
            bottom: 0;
          }
        }

        ul{
          background: #836a4e;
          border-top: 0;
          display: none;

          li{
            a{
              padding: 10px 10px 10px 30px;

              &:before,
              &:after{

              }
            }
          }
        }
      }
    }
  }

  &__name{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
  }

  &__title{
    margin-bottom: 10px;
  }

  &__logout{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;

    span{
      line-height: 1;
    }
  }

  &__main{
    background: #b08e6c;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    position: relative;

    @include media('>=tablet'){
      max-width: calc(100% - 230px);
    }

    h2{
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff;
    }

    form{
      margin-bottom: 30px;
    }
  }
}
