// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot otf ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
    src: $src;
    font-display: swap;
	}
}


@include font-face(Proxima Nova, '../fonts/proxima-light', 300, normal, otf);
@include font-face(Proxima Nova, '../fonts/proxima-regular', 400, normal, otf);
@include font-face(Proxima Nova, '../fonts/proxima-medium', 500, normal, otf);
@include font-face(Proxima Nova, '../fonts/proxima-semibold', 600, normal, otf);
@include font-face(Proxima Nova, '../fonts/proxima-bold', 700, normal, otf);
@include font-face(Proxima Nova, '../fonts/proxima-black', 800, normal, otf);
