/* Variables */
:root {
  --bg-body: #000;
  --scroll-padding-top: 0px;
  --text-color-default: #fff;
  --font-default: "Nunito", Arial, sans-serif;
  --in-max-width: 1170px;
}

/* Base variables */
$font-weight-base: 400;

$font-size-base-mobile: 14px;
$line-height-base-mobile: 1.4;

$font-size-base: 16px;
$line-height-base: 1.4;

$headings-margin-bottom: 30px;
$paragraph-margin-bottom: 20px;

$headings-margin-bottom-mobile: 20px;
$paragraph-margin-bottom-mobile: 10px;

/* Media */
$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-l': 1366px,
  'desktop-xl': 1920px
);
