{% set title = 'Tri Super State' %}

<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#fff">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="robots" content="index,follow">
	<title>{{title}}</title>
	<meta name="description" content="{{title}}">
	{# <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png"> #}
	<link href=" https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css " rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css" type="text/css">
	<link rel="stylesheet" href="css/print.min.css" media="print">
	<link rel="manifest" href="config/manifest/manifest.json">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">



	<script type="text/javascript">
		var ajax = new XMLHttpRequest();
		ajax.open("GET", "svgs/svgs.svg", true);
		ajax.send();
		ajax.onload = function(e) {
			var div = document.createElement("div");
			div.innerHTML = ajax.responseText;
			document.body.insertBefore(div, document.body.childNodes[0]);
		}
	</script>
</head>
<body>
	<div class="site">
		{% block main %}
		{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src=" https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js "></script>
	<script src="js/scripts.js"></script>
</body>
</html>
