<div class="carousel carousel--list">
	<img src="images/moon-bg.jpg" alt="moon" width="1024" height="674" class="carousel__bg">
	<div class="in">
		<div class="carousel__list">
			{% for i in 1 .. 8 %}
				<a href="#" class="carousel__item">
					<div class="carousel__img">
						<img src="images/carousel.jpg" alt="carousel" width="210" height="300">
					</div>
					<div class="carousel__textbox">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
					</div>
					<div class="carousel__tag">Článek</div>
				</a>
			{% endfor %}
		</div>
		<div class="pagination">
			<a href="#" class="pagination__btn pagination__btn--prev"><img src="images/arrow-bottom.svg" alt="arrow" width="16"></a>
			<ul>
				<li><span>1</span></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
			</ul>
			<a href="#" class="pagination__btn pagination__btn--next"><img src="images/arrow-bottom.svg" alt="arrow" width="16"></a>
		</div>
	</div>
</div>
