<section class="section">
	<div class="article-detail">
		<div class="in in--short">
			<h1 class="title title--1 article-detail__title">Nadpis nějakého super cool chytlavého článku, který každého zvedne ze židle</h1>
			<div class="article-detail__info">
				<p>18. 04. 2024 <span>Otto Borec</span></p>
				<p>Výprava na Mars</p>
			</div>
			<div class="article-detail__hero">
				<img src="images/article.jpg" alt="article" width="1000" height="570">
			</div>
			<div class="editor">
				<h2>Podnadpis chytlavého článku</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sollicitudin. Pellentesque pretium lectus id turpis. Mauris tincidunt sem sed arcu. Fusce suscipit libero eget elit. Phasellus et lorem id felis nonummy placerat. Cras elementum. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Vivamus luctus egestas leo. Integer malesuada. Integer vulputate sem a nibh rutrum consequat. Aliquam ornare wisi eu metus.</p>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam ornare wisi eu metus. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Sed ac dolor sit amet purus malesuada congue. Praesent id justo in neque elementum ultrices.</p>
				<p>Integer pellentesque quam vel velit. Sed ac dolor sit amet purus malesuada congue. Duis viverra diam non justo. Nam sed tellus id magna elementum tincidunt. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Aenean vel massa quis mauris vehicula lacinia.</p>
			</div>
		</div>
	</div>
</section>
