<section class="section">
	<div class="basket">
		<div class="in in--short">
			<h1 class="title title--1 basket__title">Nákupní košík</h1>
			<h2 class="title title--2 basket__subtitle">Produkty</h2>
			<div class="products">
				<div class="product-card__item">
					<div class="product-card__wrapper">
						<div class="product-card__img">
							<img src="https://placehold.co/150x150" alt="product" width="150" height="150">
						</div>
						<div class="product-card__box">
							<div class="product-card__text">
								<h3>Členství od TSS</h3>
								<p>Krátký popis</p>
							</div>
							<div class="counter">
							    <div class="counter__toolbox">
									<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
							        <a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
							    </div>
							    <div class="counter__value">
							        <input type="number" value="1" min="1">
							        <span>ks</span>
							    </div>
							</div>
						</div>
					</div>
					<div class="product-card__text product-card__text--mobile">
						<p>Krátký popis</p>
					</div>
					<div class="product-card__price">
						<p>6 000 Kč</p>
					</div>
					<a href="#" class="product-card__remove"><img src="images/remove.svg" alt="" width="24" height="24"></a>
				</div>
				<div class="product-card__item">
					<div class="product-card__wrapper">
						<div class="product-card__img">
							<img src="https://placehold.co/150x150" alt="product" width="150" height="150">
						</div>
						<div class="product-card__box">
							<div class="product-card__text">
								<h3>Členství od TSS</h3>
								<p>Nějaký dlouhý popis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque arcu. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Mauris dictum facilisis augue. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Praesent vitae arcu tempor neque lacinia pretium. Sed ac dolor sit amet purus malesuada congue.</p>
							</div>
							<div class="counter">
							    <div class="counter__toolbox">
							        <a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
							        <a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
							    </div>
							    <div class="counter__value">
							        <input type="number" value="1" min="1">
							        <span>ks</span>
							    </div>
							</div>
						</div>
					</div>
					<div class="product-card__text product-card__text--mobile">
						<p>Nějaký dlouhý popis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque arcu. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Mauris dictum facilisis augue. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Praesent vitae arcu tempor neque lacinia pretium. Sed ac dolor sit amet purus malesuada congue.</p>
					</div>
					<div class="product-card__price">
						<p>6 000 Kč</p>
					</div>
					<a href="#" class="product-card__remove"><img src="images/remove.svg" alt="" width="24" height="24"></a>
				</div>
			</div>
			<a href="#" class="btn btn--full basket__btn">Přejít k objednávce</a>
		</div>
	</div>
</section>
