<div class="carousel">
	<img src="images/moon-bg.jpg" alt="moon" width="1024" height="674" class="carousel__bg">
	<div class="in">
		<div class="splide js-carousel carousel__slide animate animate--fall" role="group" aria-label="carousel">
			<div class="splide__track">
				<ul class="splide__list">
					{% for i in 1 .. 10 %}
						<li class="splide__slide">
							<a href="#" class="carousel__item">
								<div class="carousel__img">
									<img src="images/carousel.jpg" alt="carousel" width="210" height="300">
								</div>
								<div class="carousel__textbox">
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								</div>
								<div class="carousel__tag">Článek</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
