<div class="contact-form">
	<div class="in in--short">
		<div class="form form--inbox animate animate--fall">
			<form action="">
				<div class="form__top">
					<h2>Kontaktní formulář</h2>
				</div>
				<div class="form__item">
					<label for="email">Váš e-mail</label>
					<input type="email" id="email" placeholder="Zadejte svůj e-mail">
				</div>
				<div class="form__item">
					<label for="subject">Předmět</label>
					<input type="text" id="subject" placeholder="Zadejte předmět zprávy">
				</div>
				<div class="form__item">
					<label for="message">Vaše zpráva</label>
					<textarea id="message" placeholder="Napište nám zprávu"></textarea>
				</div>
				<div class="form__bottom">
					<label class="checkbox">
						<input type="checkbox">
						<span class="checkbox__checkmark"></span>
						<p>Potvrzuji, že jsem všechno přečetl a souhlasím se zpracováním osobních údajů</p>
					</label>
					<div class="flash flash--warning">
						<p>WARNING ALERT. Něco se pokazilo. Zkuste to prosím znovu.</p>
					</div>
					<div class="flash flash--info">
						<p>INFO ALERT. Vyplněný formulář nám bude zaslaný na e-mail.</p>
					</div>
					<div class="flash flash--success">
						<p>SUCCESS ALERT. Formulář byl úspěšně odeslaný, děkujeme.</p>
					</div>
					<button type="submit" class="btn btn--full form__btn">Odeslat</button>
				</div>
			</form>
		</div>
	</div>
</div>
