<div class="contact">
	<div class="in">
		<div class="contact__box animate animate--fall">
			<h2>Kde nás najdete?</h2>
			<div class="contact__textbox">
				<p>Institut pro civilní ochranu a přežití osob IpcoApo s. r. o. <br> Plzeňská 3217/16 <br> 150 00 Praha 5 - Smíchov <br> tel.: <a href="tel:235300694" title="Zavolejte nám">+420 235 300 694</a> <br> <a href="mailto:info@ipcoapo.cz" title="Napište nám">info@ipcoapo.cz</a></p>
			</div>
			<div class="social">
				<a href="#">
					<img src="images/instagram.svg" alt="instagram" width="30" height="30">
				</a>
				<a href="#">
					<img src="images/facebook.svg" alt="facebook" width="30" height="30">
				</a>
				<a href="#">
					<img src="images/youtube.svg" alt="youtube" width="34" height="30">
				</a>
			</div>
		</div>
		<div class="contact__image animate animate--fall" animate-delay="200">
			<img src="images/mars.jpg" alt="" width="615" height="700">
		</div>
	</div>
</div>
