<section class="section">
	<div class="in">
		<div class="summ">
			<div class="summ__top">
			    <label for="summ">Váš referral odkaz</label>
			    <input type="text" id="referralLink" value="http://trisuperstate.peach-dev.cloud/r/QtAsBItMXrcZgKrz" disabled="" style="width: 50%;">
			    <a href="#" class="copy" title="Zkopírovat odkaz" onclick="copyToClipboard()">
			        <img src="images/copy.svg" alt="Kopírovat odkaz" width="20" height="20">
			    </a>
			</div>
		</div>
	</div>
</section>
