<footer class="footer">
	<div class="in">
		<div class="footer__top">
			<div class="footer__copy animate animate--fall"><a href="#">www.TriSuperState.com </a>&#169; Copyright 2024</div>
			<div class="footer__partners">
				<p>Partneři:</p>
				<div class="footer__partners-list">
					<img src="https://placehold.co/120x30" alt="">
					<img src="https://placehold.co/120x30" alt="">
					<img src="https://placehold.co/120x30" alt="">
				</div>
			</div>
		</div>
		<div class="footer__cols">
			<div class="footer__col animate animate--fall" animate-delay="200">
				<img src="images/logo.png" alt="logo" width="150" height="50">
			</div>
			<div class="footer__col animate animate--fall" animate-delay="400">
				<ul>
					<li><a href="#">Účely a cíle</a></li>
					<li><a href="#">Zakladatel</a></li>
					<li><a href="#">Kontakt</a></li>
				</ul>
			</div>
			<div class="footer__col animate animate--fall" animate-delay="600">
				<ul>
					<li><a href="#">Zpracování osobních údajů</a></li>
					<li><a href="#">Podmínky dražby</a></li>
					<li><a href="#">Cookies</a></li>
				</ul>
			</div>
			<div class="footer__col animate animate--fall" animate-delay="800">
				<ul>
					<li><a href="#">Zpracování osobních údajů</a></li>
					<li><a href="#">Podmínky dražby</a></li>
					<li><a href="#">Cookies</a></li>
				</ul>
			</div>
			<div class="footer__col animate animate--fall" animate-delay="1000">
				<div class="social">
					<a href="https://www.facebook.com/profile.php?id=61564063435075" target="_blank">
						<img src="images/facebook.svg" alt="facebook" width="30" height="30">
					</a>
					<a href="https://www.linkedin.com/company/tri-super-state-space-domination-2-0/" target="_blank">
						<img src="images/linkedin.svg" alt="linkedin" width="30" height="30">
					</a>
					<a href="https://www.instagram.com/jakubbrandalik/" target="_blank">
						<img src="images/instagram.svg" alt="instagram" width="30" height="30">
					</a>

					<a href="https://www.tiktok.com/@trisuperstate" target="_blank">
						<img src="images/tiktok.svg" alt="tiktok" width="26" height="30">
					</a>
					<a href="https://x.com/trisuperstate" target="_blank">
						<img src="images/x.svg" alt="x" width="30" height="30">
					</a>

					<a href="https://www.youtube.com/channel/UCztdPyg8yH81nM5MXvJ1ZrQ" target="_blank">
						<img src="images/youtube.svg" alt="youtube" width="34" height="30">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
