<header class="header">
	<div class="header__top animate animate--fade">
		<div class="in in--long">
			<a href="#" class="hide--mobile">www.TriSuperState.com</a>
			<a href="/" class="header__logo hide--tablet hide--desktop">
				<img src="images/logo.png" alt="logo" width="100" height="33">
			</a>
			<div class="header__box">
				<form action="" class="search">
					<label>
						<input type="text" placeholder="Search">
					</label>
					<button type="submit"><img src="images/search.svg" alt="search" width="20" height="20"></button>
				</form>
				{% if isLogged == true %}
					<div class="header__logout">
						<a href="#" title="Odhlásit" class="user__logout">
							<img src="images/logout.svg" alt="logout" width="20" height="20">
						</a>
						<a href="#" title="Přejít do uživatelské sekce" class="user__logout">
							<span>Monika Davidová</span>
						</a>
					</div>
				{% else %}
					<a href="#" title="Přihlásit se" class="header__login">
						<img src="images/login.svg" alt="login" width="20" height="20">
						<span>Login</span>
					</a>
				{% endif %}
				<div class="header__lang dropdown">
					<div class="header__lang-opener dropdown__btn">
						<img src="images/cz.svg" alt="cz" width="20" height="20">
						<img src="images/arrow-bottom.svg" alt="arrow" width="10">
					</div>
					<div class="header__lang-list dropdown__items">

            <a href="/cs/?header-selectLocale-locale=en&amp;do=header-selectLocale-select">
                <img src="images/en.png" alt="en" width="20" height="20">
                <span></span>
            </a>

            <a href="/cs/?header-selectLocale-locale=de&amp;do=header-selectLocale-select">
                <img src="images/de.png" alt="de" width="20" height="20">
                <span></span>
            </a>

            <a href="/cs/?header-selectLocale-locale=es&amp;do=header-selectLocale-select">
                <img src="images/es.png" alt="es" width="20" height="20">
                <span></span>
            </a>

            <a href="/cs/?header-selectLocale-locale=fr&amp;do=header-selectLocale-select">
                <img src="images/fr.png" alt="fr" width="20" height="20">
                <span></span>
            </a>

            <a href="/cs/?header-selectLocale-locale=it&amp;do=header-selectLocale-select">
                <img src="images/it.png" alt="it" width="20" height="20">
                <span></span>
            </a>

            <a href="/cs/?header-selectLocale-locale=ru&amp;do=header-selectLocale-select">
                <img src="images/ru.png" alt="ru" width="20" height="20">
                <span></span>
            </a>
    </div>
				</div>
				<a href="#" class="header__cart">
					<img src="images/cart.svg" alt="cart" width="25" height="25">
					<span>2</span>
				</a>
				<button class="btn btn--burger js-ToggleBodyClass hide--tablet hide--desktop" data-toggle="nav-is-open">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="in in--long">
			<a href="/" class="header__logo hide--mobile  animate animate--fall">
				<img src="images/logo.png" alt="logo" width="320" height="105">
			</a>
			<div class="animate animate--fall animate--mobile header__helper">
				<div class="header-nav">
					<ul>
						<li class="has-submenu">
							<a href="#">Novinky</a>
							<div class="header-nav__opener hide--desktop hide--tablet"><img src="images/arrow-bottom.svg" alt="arrow" width="20"></div>
							<ul>
								<li><a href="#">Aktuálně</a></li>
								<li><a href="#">Videa</a></li>
								<li><a href="#">V televizi</a></li>
								<li><a href="#">V rádiu</a></li>
								<li><a href="#">Články</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">O nás</a>
							<div class="header-nav__opener hide--desktop hide--tablet"><img src="images/arrow-bottom.svg" alt="arrow" width="20"></div>
							<ul>
								<li><a href="#">Test</a></li>
							</ul>
						</li>
						<li><a href="#">Kontakt</a></li>
						<li><a href="#">Affiliate</a></li>
						<li><a href="#">Panzerhaus</a></li>
					</ul>
				</div>
				<a href="#" class="header__cart">
					<img src="images/cart.svg" alt="cart" width="25" height="25">
					<span>2</span>
				</a>
			</div>
		</div>
	</div>
</header>
