<div class="hero {% if isHP == true %}hero--hp{% endif %}">
	<img src="images/web-bg.jpg" alt="web" width="2000" height="658" class="hero__bg">
	<div class="in">
		<div class="hero__box animate animate--left">
			<h1 class="title title--1 hero__title">Tri Super State</h1>
			<div class="hero__textbox">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			</div>
			{% include "../parts/btn.twig" with {
				'class': 'btn btn--full',
				'label': 'Select product',
				'icon': ''
			} %}
		</div>
		<div class="hero__right animate animate--right animate--visible" animate-delay="200">
                <div class="hero__graph" style="background: white;">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>

<canvas id="myChart" width="440" height="254" style="display: block; box-sizing: border-box; height: 254px; width: 440px;"></canvas>

<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: ["24.6.","16.7.","17.7.","18.7.","18.7.","18.7.","19.7.","20.7.","21.7.","22.7.","23.7.","24.7.","25.7.","25.7.","25.7.","26.7.","27.7.","28.7.","29.7.","30.7.","31.7.","1.8.","2.8.","3.8.","4.8.","5.8.","6.8.","7.8.","8.8.","9.8.","10.8.","11.8.","12.8.","13.8.","14.8.","15.8.","16.8.","17.8.","18.8.","19.8.","20.8.","21.8.","22.8.","23.8.","24.8.","25.8.","26.8.","27.8.","28.8.","29.8.","30.8.","31.8.","1.9.","2.9.","3.9.","4.9.","5.9.","6.9.","7.9.","8.9.","9.9.","10.9.","11.9.","12.9.","13.9.","14.9.","15.9.","16.9.","17.9.","18.9.","19.9.","20.9.","21.9.","22.9.","23.9.","24.9."],
			datasets: [{
				label: "Vývoj hodnoty" + ' ' + "členství",
				data: [39.01,39.09,39.13,39.17,39.7,39.9,39.94,39.98,40.02,40.06,40.1,40.14,40.18,39.7,40.2,40.25,40.3,40.35,40.39,40.43,40.48,40.52,40.56,40.61,40.66,40.71,40.75,40.8,40.85,40.9,40.94,40.98,41.02,41.07,41.12,41.16,41.21,41.26,41.31,41.35,41.4,41.44,41.49,41.53,41.57,41.61,41.66,41.7,41.74,41.79,41.83,41.88,41.92,41.96,42,42.05,42.1,42.14,42.19,42.23,42.28,42.33,42.37,42.42,42.46,42.51,42.55,42.6,42.64,42.68,42.72,42.76,42.81,42.86,42.9,42.95],
				borderColor: 'black',
				fill: false
			}]
		},
		options: {
			plugins: {
				annotation: {
					annotations: [
					]
				}
			},
			scales: {
				x: {
					grid: {
						color: 'rgba(200, 200, 200, 0.2)',
						borderColor: 'rgba(200, 200, 200, 0.2)'
					},
					ticks: {
						color: 'black'
					}
				},
				y: {
					grid: {
						color: 'rgba(200, 200, 200, 0.2)',
						borderColor: 'rgba(200, 200, 200, 0.2)'
					},
					ticks: {
						color: 'black'
					}
				}
			},
			backgroundColor: 'white'
		}
	});


</script>                </div>


<div class="splide js-homepage-carousel hero__slide" role="group" aria-label="carousel">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<video src="/images/TSS_1080x1920_2_IT.mp4" width="700" height="500" autoplay muted></video>
			</li>
			<li class="splide__slide">
				<video src="/images/TSS_1080x1920_2_IT.mp4" width="700" height="500" autoplay muted></video>
			</li>
		</ul>
	</div>
</div>


          </div>
	</div>
</div>
