<div class="hero {% if isHP == true %}hero--hp{% endif %}">
	<img src="images/web-bg.jpg" alt="web" width="2000" height="658" class="hero__bg">
	<div class="in">
		<div class="hero__box animate animate--left">
			<h1 class="title title--1 hero__title">Tri Super State</h1>
			<div class="hero__textbox">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			</div>
			{% include "../parts/btn.twig" with {
				'class': 'btn btn--full',
				'label': 'Select product',
				'icon': ''
			} %}
		</div>
		<div class="hero__right animate animate--right" animate-delay="200">
			{% if isLogin == true %}
				<div class="form">
					<form action="">
						<div class="form__top">
							<h2>Přihlášení</h2>
							<a href="#">Registrovat se</a>
						</div>
						<div class="form__item">
							<label for="email">E-mail</label>
							<input type="email" id="email" placeholder="Zadejte svůj e-mail">
						</div>
						<div class="form__item">
							<label for="password">Heslo</label>
							<input type="password" id="password" placeholder="Zadejte heslo">
						</div>
						<div class="form__bottom">
							<p>Zapomněli jste heslo? <a href="#">Obnovit heslo</a></p>
							<button type="submit" class="btn btn--full form__btn">Přihlásit se</button>
						</div>
					</form>
				</div>
			{% elseif isResetPass == true %}
				<div class="form">
					<form action="">
						<div class="form__top">
							<h2>Obnovit heslo</h2>
							<a href="#">Přihlásit se</a>
						</div>
						<div class="form__item">
							<label for="email">E-mail</label>
							<input type="email" id="email" placeholder="Zadejte svůj e-mail">
						</div>
						<div class="form__bottom">
							<p>Na e-mailovou adresu Vám bude zaslána zpráva s odkazem na vytvoření nového hesla.</p>
							<button type="submit" class="btn btn--full form__btn">Obnovit heslo</button>
						</div>
					</form>
					<form action="">
						<div class="form__double">
							<div class="form__item">
								<label for="password1">Nové heslo</label>
								<input type="password" id="password1">
							</div>
							<div class="form__item">
								<label for="password2">Potvrzení hesla</label>
								<input type="password" id="password2">
							</div>
						</div>
						<div class="form__bottom">
							<div></div>
							<button type="submit" class="btn btn--full form__btn">Nastavit heslo</button>
						</div>
					</form>
				</div>
			{% else %}
				<div class="hero__graph" style="background: green;"></div>
				<div class="splide js-homepage-carousel hero__slide" role="group" aria-label="carousel">
					<div class="splide__track">
						<ul class="splide__list">
							{% for i in 1 .. 3 %}
								<li class="splide__slide">
									<img src="images/hero.jpg" alt="hero" width="700" height="500">
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
