<div class="hero hero--contact">
	<img src="images/web-bg.jpg" alt="web" width="2000" height="658" class="hero__bg">
	<div class="hero__inner">
		<div class="in">
			<h1 class="title title--1 hero__title animate animate--fall">Kontakt</h1>
			<div class="hero__textbox animate animate--fall">
				<p>Máte nějaké dotazy? <br> Neváhejte nám napsat na měsíc a nebo na Mars, rádi Vám je zodpovíme.</p>
			</div>
			<div class="hero__cols animate animate--fall">
				<div class="hero__col">
					<div class="hero__helper">
						<h2>Zavolejte nám</h2>
						<div class="hero__col-text">
							<p>Aliquam ante. Etiam quis quam. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. In dapibus augue non sapien. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
						</div>
					</div>
					{% include "../parts/btn.twig" with {
						'class': 'btn btn--full',
						'label': 'Volat',
						'icon': ''
					} %}
				</div>
				<div class="hero__col">
					<div class="hero__helper">
						<h2>Napište nám</h2>
						<div class="hero__col-text">
							<p>Aliquam ante. Etiam quis quam. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. In dapibus augue non sapien. Cum sociis natoque penatibus et magnis dis parturient montesAliquam ante. Etiam quis quam.</p>
						</div>
					</div>
					{% include "../parts/btn.twig" with {
						'class': 'btn btn--full',
						'label': 'Odeslat',
						'icon': ''
					} %}
				</div>
			</div>
		</div>
	</div>
</div>
