<div class="hero hero--hp hero--sell">
	<img src="images/web-bg.jpg" alt="web" width="2000" height="658" class="hero__bg">
	<div class="in">
		<div class="hero__box animate animate--left">
			<div class="hero__wrapper">
				<h1 class="title title--1 hero__title">Tri Super State</h1>
				<div class="hero__textbox">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				</div>
				{% include "../parts/btn.twig" with {
					'class': 'btn btn--full',
					'label': 'Select product',
					'icon': ''
				} %}
			</div>
			<div class="product__info">
						<div class="product__info-item">
							<p>Aktuální cena produktu TSS</p>
							<p>6 000</p>
						</div>
						<div class="product__info-item">
							<p>Aktuální stav produktu TSS</p>
							<p>1 500</p>
						</div>
						<div class="product__info-item">
							<p>Počet prodaných členství</p>
							<p>375</p>
						</div>
						<div class="product__info-item">
							<p>Počet členství k prodeji</p>
							<p>1 125</p>
						</div>
						<div class="product__info-item">
							<p>Prodej začíná</p>
							<p>25. 5. 2025 15:00</p>
						</div>
						<div class="product__info-item">
							<p>Nerozdělený zisk</p>
							<p>10 500</p>
						</div>
					</div>
		</div>
		<div class="hero__right animate animate--right" animate-delay="200">
			<div class="hero__graph" style="background: green;"></div>
			<div class="splide js-homepage-carousel hero__slide" role="group" aria-label="carousel">
				<div class="splide__track">
					<ul class="splide__list">
						{% for i in 1 .. 3 %}
							<li class="splide__slide">
								<img src="images/hero.jpg" alt="hero" width="700" height="500">
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
