<section class="section">
	<div class="in">
		<div class="product product--members-offer">
			<div class="product__wrapper product__wrapper--center">
				<div class="product__top">
					<h1 class="title title--1">Nabídka od členů</h1>
				</div>
				<a href="#" class="btn btn--full">Koupit od člena</a>
			</div>
			<div class="product__inner">
				<div class="product__row hide--mobile">
					<h2 class="product__title">Seznam členů</h2>
					<h2 class="product__title product__title--right">Cena</h2>
					<h2 class="product__title product__title--right">Množství</h2>
					<h2 class="product__title product__title--right">Výběr množství</h2>
				</div>
				<div class="product__row">
					<label class="checkbox checkbox--check">
						<input type="checkbox">
						<span class="checkbox__checkmark"></span>
						<p>Anonymní vlastník 125</p>
					</label>
					<div class="product__text">3 500 Kč</div>
					<div class="product__text">10 ks</div>
					<div class="counter">
						<div class="counter__toolbox">
							<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
							<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
						</div>
						<div class="counter__value">
							<input type="number" value="1" min="1">
							<span>ks</span>
						</div>
					</div>
				</div>
				<div class="product__row">
					<label class="checkbox checkbox--check">
						<input type="checkbox">
						<span class="checkbox__checkmark"></span>
						<p>Monika Davidová</p>
					</label>
					<div class="product__text">10 000 Kč</div>
					<div class="product__text">8 ks</div>
					<div class="counter">
						<div class="counter__toolbox">
							<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
							<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
						</div>
						<div class="counter__value">
							<input type="number" value="1" min="1">
							<span>ks</span>
						</div>
					</div>
				</div>
				<div class="product__row">
					<label class="checkbox checkbox--check">
						<input type="checkbox">
						<span class="checkbox__checkmark"></span>
						<p>Anonymní vlastník 385</p>
					</label>
					<div class="product__text">2 000 Kč</div>
					<div class="product__text">4 ks</div>
					<div class="counter">
						<div class="counter__toolbox">
							<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
							<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
						</div>
						<div class="counter__value">
							<input type="number" value="1" min="1">
							<span>ks</span>
						</div>
					</div>
				</div>
			</div>
			<div class="product__content">
				<h2>Další informace</h2>
				<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem</p>
				<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut loremlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem</p>
				<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem</p>
			</div>
		</div>
	</div>
</section>
