<section class="section">
	<div class="modals">
		<div class="in in--short">
			<a href="#" class="btn btn--full" data-fancybox data-src="#dialog-content">Modální okno pomocí HTML data-fancybox</a>
			<br>
			<br>
			<a href="#" class="btn btn--full" id="openModal">Modální okno pomocí JS volání</a>

			<div id="dialog-content" class="modal">
				<h2>Hello, world!</h2>
				<p> Try hitting the tab key and notice how the focus stays within the dialog itself. </p>
				<p> To close dialog hit the esc button, click on the overlay or just click the close button. </p>
				<p> Element used to launch the modal would receive focus back after closing. </p>
			</div>

			<div id="dialog-on-js" class="modal">
				<h2>Hello, JS</h2>
				<p> Try hitting the tab key and notice how the focus stays within the dialog itself. </p>
				<p> To close dialog hit the esc button, click on the overlay or just click the close button. </p>
				<p> Element used to launch the modal would receive focus back after closing. </p>
			</div>

		</div>
	</div>
</section>
