<div class="newsletter">
	<div class="in">
		<div class="newsletter__textbox animate animate--left">
			<p>Přihlášení k odběru novinek. <br> Přihlášením potvrzuji souhlas, že jsem se seznámil(a) se zásadami zpracování osobních údajů.</p>
		</div>
		<form action="" class="animate animate--right" animate-delay="200">
			<label>
				<input type="text" placeholder="Enter your e-mail">
			</label>
			<button type="submit" class="btn btn--full">Odebírat news</button>
		</form>
	</div>
</div>
