<section class="section">
	<div class="order">
		<div class="in">
			<h1 class="title title--1 order__title">Objednávka</h1>
			<div class="order__info">
				<img src="images/lock.svg" alt="lock" width="20" height="20">
				<span>Všechna data jsou šifrována.</span>
			</div>

			<div class="order__wrapper">
				<div class="order__main">
					<div class="customer-card">
						<div class="customer-card__top">
							<div class="customer-card__medallion">
								<img src="https://placehold.co/50x50" alt="" width="50" height="50">
								<span>Zákazník</span>
							</div>
							<div class="customer-card__toolkit">
								<a href="#">
									<img src="images/edit-custom.svg" alt="edit" width="16" height="16">
									<span>Změnit údaje</span>
								</a>
							</div>
						</div>
						<div class="customer-card__data">
							<div class="customer-card__data-item">
								<p>E-mail</p>
								<p>test@geetix.com</p>
							</div>
							<div class="customer-card__data-item">
								<p>Address</p>
								<p>Ha***** 32 <br> ***50 IL********</p>
							</div>
							<div class="customer-card__data-item">
								<p>Mobile phone</p>
								<p>+420 *** 25* **1</p>
							</div>
						</div>
					</div>

					<h2 class="order__subtitle">Detail objednávky</h2>
					<div class="products">
						<div class="product-card__item">
							<div class="product-card__wrapper">
								<div class="product-card__img">
									<img src="https://placehold.co/150x150" alt="product" width="150" height="150">
								</div>
								<div class="product-card__box">
									<div class="product-card__text">
										<h3>Členství od TSS</h3>
										<p>Krátký popis</p>
									</div>
									<div class="counter">
									    <div class="counter__toolbox">
											<a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
									        <a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
									    </div>
									    <div class="counter__value">
									        <input type="number" value="1" min="1">
									        <span>ks</span>
									    </div>
									</div>
								</div>
							</div>
							<div class="product-card__text product-card__text--mobile">
								<p>Krátký popis</p>
							</div>
							<div class="product-card__price">
								<p>6 000 Kč</p>
							</div>
							<a href="#" class="product-card__remove"><img src="images/remove.svg" alt="" width="24" height="24"></a>
						</div>
						<div class="product-card__item">
							<div class="product-card__wrapper">
								<div class="product-card__img">
									<img src="https://placehold.co/150x150" alt="product" width="150" height="150">
								</div>
								<div class="product-card__box">
									<div class="product-card__text">
										<h3>Členství od TSS</h3>
										<p>Nějaký dlouhý popis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque arcu. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Mauris dictum facilisis augue. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Praesent vitae arcu tempor neque lacinia pretium. Sed ac dolor sit amet purus malesuada congue.</p>
									</div>
									<div class="counter">
									    <div class="counter__toolbox">
									        <a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : value + 1;"><img src="images/plus.svg" alt="plus" width="13" height="13"></a>
									        <a href="#" onclick="var input = this.closest('.counter').querySelector('input[type=&quot;number&quot;]'); var value = parseInt(input.value, 10); input.value = isNaN(value) ? 1 : Math.max(1, value - 1);"><img src="images/minus.svg" alt="minus" width="13" height="3"></a>
									    </div>
									    <div class="counter__value">
									        <input type="number" value="1" min="1">
									        <span>ks</span>
									    </div>
									</div>
								</div>
							</div>
							<div class="product-card__text product-card__text--mobile">
								<p>Nějaký dlouhý popis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque arcu. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Mauris dictum facilisis augue. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Praesent vitae arcu tempor neque lacinia pretium. Sed ac dolor sit amet purus malesuada congue.</p>
							</div>
							<div class="product-card__price">
								<p>6 000 Kč</p>
							</div>
							<a href="#" class="product-card__remove"><img src="images/remove.svg" alt="" width="24" height="24"></a>
						</div>
					</div>
					<h2 class="order__subtitle">Způsob platby</h2>
					<div class="payment">
						<div class="payment__item">
							<label class="checkbox">
								<input type="radio" name="payment">
								<span class="checkbox__checkmark"></span>
								<p>Paypal</p>
							</label>
							<div class="payment__window">
								<div class="payment__card">
									<div class="payment__wrapper">
										<form class="form" id="payment-form">
										   <div class="form__item">
											   <label for="card-number">Číslo karty</label>
											   <input type="text" id="card-number" placeholder="Zadejte číslo karty" maxlength="19">
										   </div>
										   <div class="form__double">
											   <div class="form__item">
												   <label for="expiry-date">MM / YY</label>
												   <input type="text" id="expiry-date" placeholder="MM / YY" maxlength="5">
											   </div>
											   <div class="form__item">
												   <label for="cvc">CVC</label>
												   <input type="text" id="cvc" placeholder="CVC" maxlength="3">
											   </div>
										   </div>
										   <div class="form__item">
											   <label for="card-holder-name">Jméno držitele karty</label>
											   <input type="text" id="card-holder-name" placeholder="Zadejte jméno držitele karty">
										   </div>
									   </form>
									   <div class="payment__qr">
										   <img src="images/qr.png" alt="" width="100" height="100">
									   </div>
							   		</div>
									<div class="payment__logos">
										<img src="https://placehold.co/30x25" alt="" width="30" height="25">
										<img src="https://placehold.co/30x25" alt="" width="30" height="25">
										<img src="https://placehold.co/30x25" alt="" width="30" height="25">
									</div>
									<div class="payment__lock">
 									   <img src="images/lock.svg" alt="lock" width="20" height="20">
 										<span>Všechny transakce jsou zabezpečené a šifrované.</span>
 								   </div>
								</div>
							</div>
						</div>
						<div class="payment__item">
							<label class="checkbox">
								<input type="radio" name="payment">
								<span class="checkbox__checkmark"></span>
								<p>Bankovní převod <span>Po dokončení objednávky Vám zašleme údaje k platbě</span></p>
							</label>
						</div>
						<div class="payment__item">
							<label class="checkbox">
								<input type="radio" name="payment">
								<span class="checkbox__checkmark"></span>
								<p>Kryptoměna</p>
							</label>
						</div>
					</div>
					<!-- Bohužel, duplikace kódu. Mělo by to být pro mobil/tablet nad tlačítkem Dokončit objednávku. -->
					<div class="order-sidebar hide--desktop">
						<div class="order-sidebar__wrapper">
							<h2 class="order-sidebar__title">Shrnutí objednávky</h2>
							<div class="order-sidebar__box">
								<div class="order-sidebar__list">
									<div class="order-sidebar__item">
										<p>Členství od TSS</p>
										<p>6 000 Kč</p>
									</div>
									<div class="order-sidebar__item">
										<p>Členství od člena 123</p>
										<p>3 500 Kč</p>
									</div>
								</div>
								<div class="order-sidebar__summ">
									<p>Celkem (s DPH)</p>
									<p>9 500 Kč</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="btn btn--full order__btn">Dokončit objednávku</a>
					<div class="order__text">Kliknutím na "Dokončit objednávku" potvrzuji, že souhlasím s podmínkami nákupu a že jsem si přečetl <a href="#">Zásady zpracování osobních údajů</a>.</div>
				</div>
				<!-- Bohužel, duplikace kódu. Mělo by to být pro mobil/tablet nad tlačítkem Dokončit objednávku. -->
				<div class="order-sidebar hide--tablet hide--mobile">
					<div class="order-sidebar__wrapper">
						<h2 class="order-sidebar__title">Shrnutí objednávky</h2>
						<div class="order-sidebar__box">
							<div class="order-sidebar__list">
								<div class="order-sidebar__item">
									<p>Členství od TSS</p>
									<p>6 000 Kč</p>
								</div>
								<div class="order-sidebar__item">
									<p>Členství od člena 123</p>
									<p>3 500 Kč</p>
								</div>
							</div>
							<div class="order-sidebar__summ">
								<p>Celkem (s DPH)</p>
								<p>9 500 Kč</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
