<section class="section">
	<div class="order order--detail">
		<div class="in in--short">
			<h1 class="title title--1 order__title">Detail objednávky <span>č. 79458642</span></h1>
			<div class="order__info">
				<img src="images/calendar.svg" alt="calendar" width="20" height="20">
				<span>Datum objednávky: 24. 05. 2022</span>
			</div>

			<div class="order__wrapper">
				<div class="order__main">
					<h2 class="order__subtitle">Seznam položek</h2>
					<div class="products">
						<div class="product-card__item">
							<div class="product-card__wrapper">
								<div class="product-card__img">
									<img src="https://placehold.co/150x150" alt="product" width="150" height="150">
								</div>
								<div class="product-card__box">
									<div class="product-card__text">
										<h3>Členství od TSS</h3>
										<p>Krátký popis</p>
									</div>
									<div class="product-card__number">Počet kusů: <span>4</span></div>
								</div>
							</div>
							<div class="product-card__text product-card__text--mobile">
								<p>Krátký popis</p>
							</div>
							<div class="product-card__price">
								<p>6 000 Kč</p>
							</div>
						</div>
					</div>

					<h2 class="order__subtitle">Způsob platby</h2>
					<div class="payment">
						<div class="payment__info">Bankovní převod</div>
					</div>

					<div class="order-sidebar">
						<div class="order-sidebar__wrapper">
							<h2 class="order-sidebar__title">Ostatní informace</h2>
							<div class="order-sidebar__box">
								<div class="customer-card__data">
									<div class="customer-card__data-item">
										<p>E-mail</p>
										<p>test@geetix.com</p>
									</div>
									<div class="customer-card__data-item">
										<p>Address</p>
										<p>Ha***** 32 <br> ***50 IL********</p>
									</div>
									<div class="customer-card__data-item">
										<p>Mobile phone</p>
										<p>+420 *** 25* **1</p>
									</div>
								</div>
								<div class="order-sidebar__list">
									<div class="order-sidebar__item">
										<p>Členství od TSS</p>
										<p>6 000 Kč</p>
									</div>
									<div class="order-sidebar__item">
										<p>Členství od člena 123</p>
										<p>3 500 Kč</p>
									</div>
								</div>
								<div class="order-sidebar__summ">
									<p>Celkem (s DPH)</p>
									<p>9 500 Kč</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
