<section class="section">
	<div class="in">
		<div class="product">
			<div class="product__wrapper product__wrapper--center">
				<div class="product__top">
					<h1 class="title title--1">Členství</h1>
					<div class="product__stars product__stars--1">
						<img src="images/star.svg" alt="star" width="30" height="30">
						<img src="images/star.svg" alt="star" width="30" height="30">
						<img src="images/star.svg" alt="star" width="30" height="30">
					</div>
				</div>
				<div class="product__helper">
					<div class="product__buttons">
						<a href="#" class="btn btn--full">Nabídka členů</a>
						<a href="#" class="btn btn--full">Koupit od TSS</a>
					</div>
				</div>
			</div>
			<div class="product__wrapper">
				<div class="product__left">
					<div class="product__graph">
						Graf
					</div>
					<div class="product__progress">
						<span style="width: 25%;"></span>
						<p>25%</p>
					</div>
				</div>
				<div class="product__right">
					<h2 class="product__title">Základní informace</h2>
					<div class="product__info">
						<div class="product__info-item">
							<p>Aktuální cena produktu TSS</p>
							<p>6 000</p>
						</div>
						<div class="product__info-item">
							<p>Aktuální stav produktu TSS</p>
							<p>1 500</p>
						</div>
						<div class="product__info-item">
							<p>Počet prodaných členství</p>
							<p>375</p>
						</div>
						<div class="product__info-item">
							<p>Počet členství k prodeji</p>
							<p>1 125</p>
						</div>
						<div class="product__info-item">
							<p>Prodej začíná</p>
							<p>25. 5. 2025 15:00</p>
						</div>
						<div class="product__info-item">
							<p>Nerozdělený zisk</p>
							<p>10 500</p>
						</div>
					</div>
				</div>
			</div>
			<div class="product__content">
				<h2>Další informace</h2>
				<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem</p>
				<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut loremlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem</p>
				<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem</p>
			</div>
		</div>
	</div>
</section>
