<section class="section">
	<div class="register">
		<div class="in in--short">
			<div class="form form--register">
				<form action="">
					<div class="form__top">
						<h2>Registrace nového uživatele</h2>
					</div>
					<div class="form__item">
						<label for="emailRegister">Váš e-mail</label>
						<input type="email" id="emailRegister" placeholder="Zadejte svůj e-mail" required>
					</div>
					<div class="form__double">
						<div class="form__item">
							<label for="password">Heslo</label>
							<input type="password" id="password" placeholder="Zadejte heslo" required>
						</div>
						<div class="form__item">
							<label for="passwordagain">Heslo znovu</label>
							<input type="password" id="passwordagain" placeholder="Zadejte heslo znovu" required>
						</div>
					</div>
					<div class="form__double">
						<div class="form__item">
							<label for="name">Jméno</label>
							<input type="text" id="name" placeholder="Vaše jméno" required>
						</div>
						<div class="form__item">
							<label for="surname">Příjmení</label>
							<input type="text" id="surname" placeholder="Vaše příjmení" required>
						</div>
					</div>
					<div class="form__item">
						<label for="company">Firma</label>
						<input type="text" id="company" placeholder="Firma">
					</div>
					<div class="form__double">
						<div class="form__item">
							<label for="ic">IČ</label>
							<input type="text" id="ic" placeholder="IČ">
						</div>
						<div class="form__item">
							<label for="dic">DIČ</label>
							<input type="text" id="dic" placeholder="DIČ">
						</div>
					</div>
					<label class="checkbox">
						<input type="checkbox" name="dph">
						<span class="checkbox__checkmark"></span>
						<p>Jsem plátce DPH</p>
					</label>
					<div class="form__item">
						<label for="phone">Telefon</label>
						<input type="tel" id="phone" placeholder="Telefon">
					</div>
					<div class="form__double">
						<div class="form__item">
							<label for="street">Ulice</label>
							<input type="text" id="street" placeholder="Ulice">
						</div>
						<div class="form__item">
							<label for="streetNumber">Číslo popisné</label>
							<input type="text" id="streetNumber" placeholder="Číslo popisné">
						</div>
					</div>
					<div class="form__double">
						<div class="form__item">
							<label for="city">Město</label>
							<input type="text" id="city" placeholder="Město">
						</div>
						<div class="form__item">
							<label for="psc">PSČ</label>
							<input type="number" id="psc" placeholder="PSČ">
						</div>
					</div>
					<div class="form__item form__item--select">
						<label>
							<span>Stát</span>
							<select>
								<option>Česká republika</option>
								<option>Maroko</option>
							</select>
						</label>
					</div>
					<label class="checkbox">
						<input type="checkbox" name="subscribe" required>
						<span class="checkbox__checkmark"></span>
						<p>Odebírat newsletter</p>
					</label>
					<div class="form__double">
						<div class="form__item">
							<label for="iban">IBAN</label>
							<input type="text" id="iban" placeholder="IBAN">
						</div>
						<div class="form__item">
							<label for="swift">SWIFT</label>
							<input type="text" id="swift" placeholder="SWIFT">
						</div>
					</div>

					<div class="form__bottom">
						<div class="flash flash--warning">
							<p>WARNING ALERT. Něco se pokazilo. Zkuste to prosím znovu.</p>
						</div>
						<div class="flash flash--info">
							<p>INFO ALERT. Vyplněný formulář nám bude zaslaný na e-mail.</p>
						</div>
						<div class="flash flash--success">
							<p>SUCCESS ALERT. Formulář byl úspěšně odeslaný, děkujeme.</p>
						</div>
						<button type="submit" class="btn btn--full form__btn">Odeslat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
