<section class="section">
	<div class="sell">
		<div class="in">
			<h1 class="title title--1 sell__title">Prodej</h1>
			<div class="showmore">
				<div class="showmore__header js-ToggleBodyClass" data-toggle="showmore-is-open">
					<p><strong>Průvodce prodejem produktů: </strong>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut</p>
					<img src="images/arrow-bottom.svg" alt="arrow" width="20">
				</div>
				<div class="showmore__content">
					<div class="showmore__helper">
						<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut</p>
						<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut</p>
						<p>lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt utlorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut</p>
					</div>
				</div>
			</div>
			<form class="sell__list">
			    <div class="sell__item">
			        <label class="checkbox checkbox--check">
			            <input type="checkbox">
			            <span class="checkbox__checkmark"></span>
			            <p>Anonymizovat vlastníka při nabídce členství</p>
			        </label>
			        <div class="sell__strip">
			            <div class="sell__info">
			                <img src="images/sell1.svg" alt="sell" width="24" height="24">
			                <p>Členství (5)</p>
			            </div>
						<div class="sell__input">
							<label>
								Množství
								<input type="text" class="sell__number" value="5">
							</label>
						</div>
						<div class="sell__input sell__input--price">
							<label>
								Cena
								<input type="text" class="sell__number" value="3500">
								<span>CZK</span>
							</label>
						</div>
			            <input type="submit" class="btn btn--full" value="Aktivovat">
			        </div>
			    </div>
			    <div class="sell__item">
			        <label class="checkbox checkbox--check">
			            <input type="checkbox">
			            <span class="checkbox__checkmark"></span>
			            <p>Anonymizovat vlastníka při nabídce členství</p>
			        </label>
			        <div class="sell__strip">
			            <div class="sell__info">
			                <img src="images/sell2.svg" alt="sell" width="24" height="24">
			                <p>Občanství (5)</p>
			            </div>
						<div class="sell__input">
							<label>
								Množství
								<input type="text" class="sell__number" value="5">
							</label>
						</div>
						<div class="sell__input sell__input--price">
							<label>
								Cena
								<input type="text" class="sell__number" value="3500">
								<span>CZK</span>
							</label>
						</div>
			            <input type="submit" class="btn btn--full" value="Aktivovat" />
			        </div>
			    </div>
			    <div class="sell__item">
			        <label class="checkbox checkbox--check">
			            <input type="checkbox">
			            <span class="checkbox__checkmark"></span>
			            <p>Anonymizovat vlastníka při nabídce členství</p>
			        </label>
			        <div class="sell__strip sell__strip--disabled">
			            <div class="sell__info">
			                <img src="images/sell3.svg" alt="sell" width="24" height="24">
			                <p>Licence</p>
			            </div>
						<div class="sell__input">
							<label>
								Množství
								<input type="text" class="sell__number" value="5">
							</label>
						</div>
						<div class="sell__input sell__input--price">
							<label>
								Cena
								<input type="text" class="sell__number" value="3500">
								<span>CZK</span>
							</label>
						</div>
			            <input type="submit" class="btn btn--full" value="Aktivovat" />
			        </div>
			    </div>
			</form>
		</div>
	</div>
</section>
