<section class="section">
	<div class="thankspage">
		<div class="in in--tiny">
			<h1 class="title title--1 thankspage__title">Děkujeme!</h1>
			<div class="thankspage__text">Vaše objednávka byla úspěšně dokončena.</div>
			<div class="thankspage__wrapper">
				<div class="thankspage__box">
					<div class="thankspage__icon"><img src="images/patch.svg" alt="patch" width="70" height="70"></div>
					<div class="thankspage__textbox">
						<p>Na Vámi uvedenou e-mailovou adresu bylo odesláno potvrzení včetně všech podrobností o Vaší objednávce.</p>
						<p>Nakoupené produkty můžete zkontrolovat ve svém uživatelském profilu.</p>
					</div>
				</div>
				<div class="thankspage__right">
					<a href="#" class="btn btn--full thankspage__btn">Můj profil</a>
				</div>
			</div>
		</div>
	</div>
</section>
