<section class="section">
	<div class="thankspage thankspage--negative">
		<div class="in in--tiny">
			<h1 class="title title--1 thankspage__title">NeDěkujeme!</h1>
			<div class="thankspage__text">Vaše objednávka byla neúspěšně dokončena.</div>
			<div class="thankspage__wrapper">
				<div class="thankspage__box">
					<div class="thankspage__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"><path style="stroke:none;fill-rule:nonzero;fill:#ff0f0f;fill-opacity:1" d="M44.043 3.805a12.648 12.648 0 0 0-18.086 0l-2.723 2.793-3.89-.047a12.646 12.646 0 0 0-9.094 3.699 12.646 12.646 0 0 0-3.7 9.094l.044 3.89-2.782 2.723A12.636 12.636 0 0 0 .005 35c0 3.402 1.371 6.664 3.808 9.043l2.786 2.723-.047 3.89a12.646 12.646 0 0 0 3.699 9.094 12.646 12.646 0 0 0 9.094 3.7l3.89-.044 2.723 2.782A12.636 12.636 0 0 0 35 69.995c3.402 0 6.664-1.371 9.043-3.808l2.723-2.786 3.89.047a12.646 12.646 0 0 0 9.094-3.699 12.646 12.646 0 0 0 3.7-9.094l-.044-3.89 2.782-2.723A12.636 12.636 0 0 0 69.995 35c0-3.402-1.371-6.664-3.808-9.043l-2.786-2.723.047-3.89a12.646 12.646 0 0 0-3.699-9.094 12.646 12.646 0 0 0-9.094-3.7l-3.89.044-2.723-2.782ZM35 17.5c2.34 0 4.172 2.02 3.938 4.352l-1.532 15.343a2.415 2.415 0 0 1-4.812 0l-1.532-15.343A3.963 3.963 0 0 1 35 17.5Zm.008 26.25a4.373 4.373 0 0 1 4.375 4.375 4.375 4.375 0 1 1-4.375-4.375Zm0 0"/></svg>
					</div>
					<div class="thankspage__textbox">
						<p>Něco se pokazilo.</p>
						<p>Kontaktujte nás</p>
					</div>
				</div>
				<div class="thankspage__right">
					<a href="#" class="btn btn--full thankspage__btn">Můj profil</a>
				</div>
			</div>
		</div>
	</div>
</section>
