<section class="section">
	<div class="in in--user">
		<div class="user">
			<div class="user__sidebar">
				<div class="user__name">Otto Borec</div>
				<ul class="user__nav">
				    <li class="current">
				        <a href="#">Nastavení účtu</a>
				        <ul class="submenu">
				            <li><a href="#">test 1</a></li>
				            <li><a href="#">test 2</a></li>
				        </ul>
				    </li>
				    <li><a href="#">Přehledy</a></li>
				</ul>

				<a href="#" class="user__logout">
					<img src="images/logout.svg" alt="logout" width="20" height="20">
					<span>Odhlásit</span>
				</a>
			</div>
			<div class="user__main">
			    <div class="tab-content">
					<h2>Nastavení účtu</h2>
					<form action="">
						<div class="form__cols">
							<div class="form__col">
								<div class="form__item">
									<label for="useremail">Přihlašovací e-mail</label>
									<input type="email" id="useremail" value="test@geetix.com">
								</div>
								<div class="user__title">Osobní údaje</div>
								<div class="form__item">
									<label>
										<input type="text" value="Ing">
									</label>
									<label>
										<input type="text" value="Monika">
									</label>
									<label>
										<input type="text" value="Davidová">
									</label>
								</div>
								<div class="user__title">Firemní údaje</div>
								<div class="form__item">
									<label>
										<input type="text" value="Firma">
									</label>
									<label>
										<input type="text" value="IČ">
									</label>
									<label>
										<input type="text" value="DIČ">
									</label>
								</div>
							</div>
							<div class="form__col">
								<div class="form__item">
									<label for="newpass">Nastavení nového hesla</label>
									<input type="password" id="newpass" placeholder="nové heslo">
									<label class="showPassWrapper">
										<input type="checkbox" class="showPass">
									</label>
								</div>
								<div class="user__title">Kontaktní údaje</div>
								<div class="form__item">
									<label>
										<input type="text" value="Družstevní 276, Příbram 261 01">
									</label>
									<label>
										<input type="tel" value="720220284">
									</label>
									<label>
										<select>
											<option>Čeština</option>
											<option>Katalánština</option>
										</select>
									</label>
								</div>
								<div class="user__title">Bankovní účet</div>
								<div class="form__item">
									<label>
										<input type="password" value="1234567891234567859">
									</label>
									<label class="showPassWrapper">
										<input type="checkbox" class="showPass">
									</label>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn--full form__btn">Uložit</button>
					</form>
					<form action="" class="auth">
						<a href="#" class="btn btn--full auth__full">Nastavení 2FA</a>
					</form>
					<form action="" class="auth">
						<div class="auth__box">
							<div class="auth__title">Nastavení 2FA pomocí Google Authenticator</div>
							<div class="auth__qr">
								<div class="auth__img">
									<img src="images/qr.png" alt="qr" width="150" height="150">
								</div>
								<div class="auth__flex">
									<ol>
										<li>Stáhněte 2FA aplikaci.</li>
										<li>Oskenujte QR kód vlevo.</li>
										<li>Potvrďte nastavení kliknutím na tlačítko níže.</li>
									</ol>
									<div class="auth__buttons">
										<a href="#" class="btn btn--full">Zrušit</a>
										<a href="#" class="btn btn--full">Pokračovat</a>
									</div>
								</div>
							</div>
						</div>
					</form>
					<form action="" class="auth">
						<div class="auth__box">
							<div class="auth__title">Potvrďte nastavení</div>
							<label>
								<input type="text" placeholder="Authentication Code">
							</label>
							<div class="auth__buttons">
								<a href="#" class="btn btn--full">Zpět</a>
								<a href="#" class="btn btn--full">Uložit</a>
							</div>
						</div>
					</form>
					<div class="auth">
						<div class="auth__box">
							<div class="auth__title">Nastavení dokončeno</div>
							<p>Vaše přihlášení je nyní bezpečnější</p>
							<div class="auth__buttons">
								<a href="#" class="btn btn--full">Zavřít</a>
							</div>
						</div>
					</div>
				</div>
			    <div class="tab-content">
				</div>
			    <div class="tab-content">test 2</div>
			    <div class="tab-content">
					<h2>Přehledy</h2>
					<div class="summ">
						<div class="summ__buttons">
							<a href="#" class="btn btn--full">Tisk</a>
							<a href="#" class="btn btn--full">Prodej</a>
						</div>
						<div class="summ__top">
							<label for="summ">Aktuální výše nerozděleného zisku</label>
							<input type="text" value="1 500 000 Kč" disabled>
						</div>
						<div class="summ__item">
							<h3 class="summ__title">Nakoupené produkty</h3>
							<div class="table-wrapper">
								<table class="table">
									<thead>
										<tr>
											<th>Kód</th>
											<th>Produkt</th>
											<th>Množství</th>
											<th>Částka/Cena</th>
											<th>Datum</th>
											<th>Forma úhrady</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>3</td>
											<td>3 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>12345</td>
											<td>Členství</td>
											<td>3</td>
											<td>5 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>5</td>
											<td>13 000</td>
											<td>1. 1. 2024</td>
											<td>platba kartou</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="summ__item">
							<h3 class="summ__title">Prodané produkty</h3>
							<div class="table-wrapper">
								<table class="table">
									<thead>
										<tr>
											<th>Kód</th>
											<th>Produkt</th>
											<th>Množství</th>
											<th>Částka/Cena</th>
											<th>Datum</th>
											<th>Forma úhrady</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>3</td>
											<td>3 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>12345</td>
											<td>Členství</td>
											<td>3</td>
											<td>5 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>5</td>
											<td>13 000</td>
											<td>1. 1. 2024</td>
											<td>platba kartou</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="summ__item">
							<h3 class="summ__title">Zisky</h3>
							<div class="table-wrapper">
								<table class="table">
									<thead>
										<tr>
											<th>Kód</th>
											<th>Produkt</th>
											<th>Množství</th>
											<th>Částka/Cena</th>
											<th>Datum</th>
											<th>Forma úhrady</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>3</td>
											<td>3 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>12345</td>
											<td>Členství</td>
											<td>3</td>
											<td>5 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>5</td>
											<td>13 000</td>
											<td>1. 1. 2024</td>
											<td>platba kartou</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
