{% extends "layout/base.twig" %}

{% block main %}

	{% include "blocks/header.twig" %}

	{% include "blocks/article-detail.twig" %}

	{% include "blocks/newsletter.twig" %}

	{% include "blocks/footer.twig" %}

{% endblock %}
