{% extends "layout/base.twig" %}

{% block main %}

	{% include "parts/alert.twig" with {
		text: 'Zde může být nějaké sdělení, které se ukáže každému. Za pět vteřin zmizne.',
		type: 'info',
		dataInterval: '5000'
	} %}

	{% include "blocks/header.twig" %}

	{% include "blocks/hero-sell.twig" %}

	{% include "blocks/carousel.twig" %}

	{% include "blocks/contact-form.twig" %}

	{% include "blocks/newsletter.twig" %}

	{% include "blocks/footer.twig" %}

{% endblock %}
