{% extends "layout/base.twig" %}

{% block main %}

	{% include "blocks/header.twig" with {
		isLogged: true
	} %}

	{% include "blocks/hero.twig" %}

	{% include "blocks/carousel.twig" %}

	{% include "blocks/contact-form.twig" %}

	{% include "blocks/newsletter.twig" %}

	{% include "blocks/footer.twig" %}

{% endblock %}
