{% extends "layout/base.twig" %}

{% block main %}
	<section class="section" style="margin-top: 30px;">
		<div class="in" style="max-width: 800px; margin: 0 auto;">
			<img src="images/logo.png" alt="logo" width="200" height="50">


			<hr>
			<br><br>

			<h1>Seznam HTML šablon</h1>

			<ul style="font-size:1.3em;">
				<li><a href="homepage.html">Hlavní stránka</a></li>
				<li><a href="homepage-sell.html">Hlavní stránka - s prodejním boxem</a></li>
				<li><a href="homepage-login.html">Přihlášený uživatel</a></li>
				<li><a href="login.html">Přihlášení</a></li>
				<li><a href="resetpass.html">Obnovit heslo</a></li>
				<li><a href="contact.html">Kontakt</a></li>
				<li><a href="articles.html">Výpis článků</a></li>
				<li><a href="article-detail.html">Detail článku</a></li>
				<li><a href="blankpage.html">Obecná stránka</a></li>
				<li><a href="user.html">Uživatelská sekce</a></li>
				<li><a href="register.html">Registrace</a></li>
				<li><a href="modal.html">Modal</a></li>
				<li><a href="basket.html">Nákupní košík</a></li>
				<li><a href="order.html">Objednávka</a></li>
				<li><a href="order-detail.html">Detail objednávky</a></li>
				<li><a href="thankspage.html">Děkovací stránka</a></li>
				<li><a href="thankspageerror.html">Děkovací stránka (negativní)</a></li>
				<li><a href="select.html">Select2</a></li>
				<li><a href="sell.html">Prodej</a></li>
				<li><a href="product1.html">Produkt - členství</a></li>
				<li><a href="product2.html">Produkt - Občanství</a></li>
				<li><a href="product3.html">Produkt - Licence</a></li>
				<li><a href="members-offer.html">Nabídka od členů</a></li>
				<li><a href="copy.html">Kopírovat obsah inputu</a></li>
				<li><a href="table.html">Objednávková tabulka</a></li>

				<li><a href="homepage-production.html">Produkční HP</a></li>
			</ul>

			<style>
				ul li {
					list-style: square;
					margin-left: 30px;
					font-size: 24px;


				}

				ul li a{
					text-decoration: none;
				}
				.mainLogo{
					width: 164px;
					height: 44px;
				}
			</style>
		</div>
	</section>
{% endblock %}
