{% extends "layout/base.twig" %}

{% block main %}

	{% include "blocks/header.twig" %}

	{% include "blocks/modal.twig" %}

	{% include "blocks/contact-form.twig" %}

	{% include "blocks/newsletter.twig" %}

	{% include "blocks/footer.twig" %}

{% endblock %}
