{% extends "layout/base.twig" %}

{% block main %}

	{% include "blocks/header.twig" %}

	{% include "blocks/hero.twig" with {
		isResetPass: true
	} %}

	{% include "blocks/carousel.twig" %}

	{% include "blocks/newsletter.twig" %}

	{% include "blocks/footer.twig" %}

{% endblock %}
