{% extends "layout/base.twig" %}

{% block main %}

	{% include "blocks/header.twig" %}

	<section class="section">
		<div class="in">
			<select class="select2" name="state">
			  <option value="AL">Alabama</option>
			  <option value="WY">Wyoming</option>
			  <option value="AL">Alabama</option>
			  <option value="WY">Wyoming</option>
			  <option value="AL">Alabama</option>
			  <option value="WY">Wyoming</option>
			  <option value="AL">Alabama</option>
			  <option value="WY">Wyoming</option>
			</select>
		</div>
	</section>

	{% include "blocks/contact-form.twig" %}

	{% include "blocks/newsletter.twig" %}

	{% include "blocks/footer.twig" %}

{% endblock %}
