{% extends "layout/base.twig" %}

{% block main %}

	{% include "blocks/header.twig" with {
		isLogged: true
	} %}

	<section class="section">
	<div class="in in--user">
		<div class="user">
			<div class="user__sidebar">
				<div class="user__name">Otto Borec</div>
				<ul class="user__nav">
				    <li class="current">
				        <a href="#">Nastavení účtu</a>
				        <ul class="submenu">
				            <li><a href="#">test 1</a></li>
				            <li><a href="#">test 2</a></li>
				        </ul>
				    </li>
				    <li><a href="#">Přehledy</a></li>
				</ul>

				<a href="#" class="user__logout">
					<img src="images/logout.svg" alt="logout" width="20" height="20">
					<span>Odhlásit</span>
				</a>
			</div>
			<div class="user__main">
			    <div class="tab-content">
					<h2>Přehledy</h2>
					<div class="summ">
						<div class="summ__item">
							<h3 class="summ__title">Nakoupené produkty</h3>
							<div class="table-wrapper">
								<table class="table">
									<thead>
										<tr>
											<th>Kód</th>
											<th>Produkt</th>
											<th>Množství</th>
											<th>Částka/Cena</th>
											<th>Datum</th>
											<th>Forma úhrady</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>3</td>
											<td>3 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>12345</td>
											<td>Členství</td>
											<td>3</td>
											<td>5 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>5</td>
											<td>13 000</td>
											<td>1. 1. 2024</td>
											<td>platba kartou</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="summ__item">
							<h3 class="summ__title">Prodané produkty</h3>
							<div class="table-wrapper">
								<table class="table">
									<thead>
										<tr>
											<th>Kód</th>
											<th>Produkt</th>
											<th>Množství</th>
											<th>Částka/Cena</th>
											<th>Datum</th>
											<th>Forma úhrady</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>3</td>
											<td>3 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>12345</td>
											<td>Členství</td>
											<td>3</td>
											<td>5 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>5</td>
											<td>13 000</td>
											<td>1. 1. 2024</td>
											<td>platba kartou</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="summ__item">
							<h3 class="summ__title">Zisky</h3>
							<div class="table-wrapper">
								<table class="table">
									<thead>
										<tr>
											<th>Kód</th>
											<th>Produkt</th>
											<th>Množství</th>
											<th>Částka/Cena</th>
											<th>Datum</th>
											<th>Forma úhrady</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>3</td>
											<td>3 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>12345</td>
											<td>Členství</td>
											<td>3</td>
											<td>5 000</td>
											<td>1. 1. 2024</td>
											<td>bankovní převod</td>
										</tr>
										<tr>
											<td>123</td>
											<td>Členství</td>
											<td>5</td>
											<td>13 000</td>
											<td>1. 1. 2024</td>
											<td>platba kartou</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

	{% include "blocks/footer.twig" %}

{% endblock %}
