.block-preview {
  background-color: #A50731;
  color: #fff;
  padding: 30px 40px;
  margin: 30px 0;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 5px;
  }

  p {
    font-size: 20px;
    margin: 0;
  }

  span {
    position: relative;
    top: 4px;
  }
}
