// Styles for WP Gutenberg editor


/* Core */
@import 'core/variables.scss';
@import 'core/include-media.scss';
@import 'core/fonts.scss';

/* Base */
.wp-block {
  max-width: var(--in-max-width);
  font-family: var(--font-default);
}

.wp-block.acf-block-preview {
  font-family: var(--font-default);
  font-size: $font-size-base-mobile;
  font-weight: $font-weight-base;
  line-height: $line-height-base-mobile;
  color: var(--text-color-default);
  text-align: left; // 3
  background-color: var(--bg-body); // 2

  @include media(">=tablet"){
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  @import 'base/base.scss';

  .header {
    position: static !important;
    background-color: #000;
  }

  a {
    pointer-events: none;
  }

  .splide {
    visibility: visible !important;

    .splide__list {
      display: block !important;
    }
  }

  .animate {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

@import 'base/_icons.scss';

/* Utils */
@import 'utils/helpers.scss';
@import 'utils/hide.scss';

/* Plugins */
// @import 'plugins/**/*.scss';

/* Components */
.wp-block.acf-block-preview {
  @import 'components/**/*.scss';
}

/* Components */
@import 'editor-style/**/*.scss';

